/* .nav,
.subnav {
  display: flex;
  justify-content: space-around;
  padding: 40px 0 30px 0;
  & a {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Degular, sans-serif;
    color: var(--color-brand-100);
    font-weight: 400;
    opacity: 0.8;
    position: relative;
    @media (--md) {
      font-size: 22px;
    }
    &.active {
      font-weight: 800;
      letter-spacing: 0.5px;
    }
    &.active,
    &:hover {
      &:after {
        background-color: var(--color-nextflow);
        transform: scaleX(1);
        color: white;
        opacity: 1;
      }
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent;
      transform: scaleX(0);
      transition: all 0.3s;
      opacity: 0;
    }
    & span {
      display: none;
      @media (--lg) {
        display: inline;
      }
    }
  }
}
.nav {
  & a {
    flex-basis: 50%;
    text-align: center;
    padding: 10px 0;
    &.active {
      &:after {
        background-color: var(--color-brand-100);
      }
    }
    &:not(.active) {
      &:hover {
        &:after {
          background-color: var(--color-brand-100);
          opacity: 0.5;
        }
      }
    }
    &:after {
      left: 8%;
      right: 8%;
    }
  }
}
.page {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  transition: all 0.3s !important;
  &:not(:global(.swiper-slide-fully-visible)) {
    opacity: 0 !important;
  }
}
.item {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  position: relative;
  & .time {
    width: 100px;
    font-size: 21px;
    text-align: center;
    @media (min-width: 1050px) {
      position: absolute;
      left: -100px;
    }
    font-family: Degular, sans-serif;
    font-weight: 600;
    display: none;
    @media (--sm) {
      display: block;
    }
    & > div {
      & span {
        font-size: 11px;
        text-transform: uppercase;
        line-height: 1;
        top: -5px;
        font-weight: 600;
        font-family: Inter, sans-serif;
        position: relative;
        display: inline-block;
        padding-left: 2px;
        opacity: 0.8;
      }
    }
  }
  & .sessions {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin: -4px;
    & > div {
      padding: 4px;
      flex-basis: 50%;
      flex-grow: 1;
    }
  }
} */
