---
import Layout from "@layouts/Base.astro";
import LandingHero from "@components/LandingHero";
import KeyDates from "@components/KeyDates/index.astro";
import WhyAttend from "@modules/WhyAttend";
import SignUpForm from "@modules/SignUpForm";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import Faq from "@components/Faq";
import SEO from "@components/SEO";
import qa from "./qa";
import Button from "@components/Button";
---

<Layout namespace="2025/barcelona">
  <SEO slot="head" title="Overview | Barcelona" img={2} />

  <LandingHero
    isBarcelona
    subtitle="Nextflow Training & nf-core Hackathon"
    content="This October, the Nextflow community is coming together in Barcelona for two days of immersive learning, hacking, and meaningful collaboration. Whether you're building robust workflows or scaling analysis across environments—join us to push the boundaries of what’s possible with Nextflow."
    when="October 28-29"
    where="SB Glow, Barcelona"
    namespace="2025/barcelona"
    pathname="/2025/barcelona"
    ctaText1="View Schedule"
    ctaLink1="/2025/barcelona/agenda"
    client:load
  />

  <section class="pt-20 md:pt-40 mb-24 container">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row items-center"
            >
              <h5 class="h5">Training (In-Person)</h5>
            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              Early-bird 25% discount until August 1
              </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full ">
            <!-- <h5 class="h4 mb-4">1.5 days / 200+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              A beginner and advanced training in Barcelona to supercharge your pipeline
              development with Nextflow and nf-core.

              <br /><br />
              Academic: €120<br/>
              Corporate: €300<br />
              <i>Price includes 21% VAT</i><br /><br />
              <a href="/2025/barcelona/training">→ Learn more</a> 
              
            </p>
          </div>
    
          <div class="pt-4 monospace">
            <Button
              white
              arrowAfter
              className="w-full"
            >
              <a class="absolute w-full h-full" href="https://seqera.swoogo.com/nextflow-training" target="_blank"></a>

              Join the Waitlist
            </Button>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row">
              <h5 class="h5">Hackathon (In-Person)</h5>
              
            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              Early-bird 25% discount until August 1
              </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full">
            <!-- <h5 class="h4 mb-4">2 days / 100+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              A hackathon in Barcelona to tackle real-world challenges, create
              innovative pipelines with Nextflow, and develop nf-core. <br /><br
              />
              Academic: €120<br/>
              Corporate: €120 <br />
              <i>Price includes 21% VAT</i><br /><br />
              <a href="/2025/barcelona/hackathon">→ Learn more</a> 
            </p>
          </div>
          <div class="pt-4 monospace">
            <Button
            white
            arrowAfter
            className="w-full"
          >
            <a class="absolute w-full h-full" href="https://seqera.swoogo.com/nfcore-hackathon" target="_blank"></a>

            Register for Hackathon
          </Button>

          </div>
        </SubSection>
      </Box>
    </div>
  </section>

  <section class="container relative z-10 mb-4 sm:mb-8 lg:mb-20">
    <KeyDates location="barcelona" />
  </section>

  <Faq className="mt-20 md:mt-40 mb-20" client:load data={qa} />

</Layout>
