---
import Layout from "@layouts/Base.astro";
import LandingHero from "@components/LandingHero";
import KeyDates from "@components/KeyDates/index.astro";
import WhyAttend from "@modules/WhyAttend";
import SignUpForm from "@modules/SignUpForm";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import Faq from "@components/Faq";
import SEO from "@components/SEO";
import qa from "./qa";
---

<Layout namespace="2025/barcelona">
  <SEO slot="head" title="Overview | Barcelona" img={2} />

  <LandingHero
    isBarcelona
    title="Nextflow Summit"
    content="No matter your role—bioinformatician, data scientist, developer, or industry leader—Nextflow Summit by Seqera is where you’ll connect, learn, and innovate. Leave inspired, equipped, and ready to drive the future of science and technology."

    virtual="October 23-24"
    barcelona="October 28-29"
    namespace="2025/barcelona"
    pathname="/2025/barcelona"
    client:load
  />

  <section class="pt-20 md:pt-40 mb-24 container">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row items-center"
            >
              <h5 class="h5">Virtual Summit (Online)</h5>
     
            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              October 27 • talks, networking & more
            </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full">
            <!-- <h5 class="h4 mb-4">1 day / 200+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              A showcase of the latest developments and innovations from the
              Nextflow world.<br/><br/>
              Registration opens in August.
            </p>
            <!-- <p class="text-nextflow-200 pb-2">*Early bird discounts will run from May 1 to August 30</p> -->
          </div>
          <div class="pt-4 monospace border-t border-t-nextflow">
            Full price: Free
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row items-center"
            >
              <h5 class="h5">Training (In-Person)</h5>
 
            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              October 28-29 • training
            </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full">
            <!-- <h5 class="h4 mb-4">1.5 days / 200+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              A foundational training in Barcelona to supercharge your pipeline
              development with Nextflow and nf-core.
              <br /><br />Early-bird 25% discount until August 1.<br/><br/>
              

     Register for Nextflow Training, by clicking <a href="https://seqera.swoogo.com/nextflow-training" target="_blank">here</a>.


            </p>
          </div>
          <div class="pt-4 monospace border-t border-t-nextflow">
            Academic <s>€120</s> €90 • Corporate <s>€300</s> €225
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row "
            >
              <h5 class="h5">Hackathon (In-Person)</h5>
    
            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              October 28-29 • hackathon
            </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full">
            <!-- <h5 class="h4 mb-4">2 days / 100+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              A hackathon in Barcelona to tackle real-world challenges, create
              innovative pipelines with Nextflow, and develop nf-core. <br /><br
              />
              Early-bird 25% discount until August 1.<br/><br/>
              

              Register for  nf-core Hackathon, by clicking <a href="https://seqera.swoogo.com/nfcore-hackathon" target="_blank">here</a>.
            </p>
          </div>
          <div class="pt-4 monospace border-t border-t-nextflow">
            Academic <s>€120</s> €90 • Corporate <s>€120</s> €90
          </div>
        </SubSection>
      </Box>
    </div>
  </section>


  <section class="container relative z-10 mb-4 sm:mb-8 lg:mb-20">
    <KeyDates location="barcelona" />
  </section>

  <Faq className="mt-20 md:mt-40 mb-20" client:load data={qa} />

  <section id="register" class="wrapper">
    <div>
      <div class="container pt-10">
        <div class="flex flex-col sm:flex-row sm:justify-between">
          <div class="w-full pr-10 pt-10">
            <h1 class="h1 mb-10">Sign up for updates</h1>
            <p class="monospace">
              Discover the ticket prices, discount dates, and refund policy
            </p>
          </div>
          <div>
            <div class="w-full">
              <SignUpForm client:load />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</Layout>
