---
import styles from "./styles.module.css";
import Blob from "@components/Blob";
const { className, style2 } = Astro.props;
---

<section class={styles.container}>
  <div class:list={[styles.content, className]}>
    <slot />
    {style2 && <Blob style2 />}
    <Blob />
  </div>
</section>
