.container {
  background-image: url("./images/bg_1a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  & .content {
    position: relative;
    z-index: 2;
    background-image: url("./images/overlay_2b.png");
    background-size: 134px;
    background-position: center top;
    &:after {
      position: absolute;
      height: 134px;
      width: 100%;
      display: block;
      content: "";
      top: 100%;
      left: 0;
      right: 0;
      background-image: url("./images/overlay_2b2.png");
      background-size: 134px;
      background-position: center top;
    }
  }
}
