---
import Layout from '@layouts/Base.astro';
import Meta from '@components/Meta/Meta.astro';
import SpeakersSection from '@modules/SpeakersSection';
import { fetchSettings, type SettingsData } from '@data/settings';
import { getAllSpeakers } from '@data/speakers';

const sortedMembers = getAllSpeakers[0].speakers.sort((a, b) =>
  a.name.localeCompare(b.name)
);

const settings: SettingsData = await fetchSettings();
---

<Layout namespace="2026/boston">
  <Meta title="Speakers" sanityImage="default" settings={settings} />
  <section class="py-20">
    <div class="container-lg">
      <h1 class="h3 mb-4">Speakers</h1>
      <p>Check back soon for a list of this year's speakers and presenters.</p>
    </div>
  </section>

  <!-- <section class="bg-white text-black py-10">
    <div class="container-lg">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {
          sortedMembers.map((name, index) => (
            <div>
              <SpeakersSection
                person={name}
                index={index}
                location="boston"
                client:only="react"
              />
            </div>
          ))
        }
      </div>
    </div>
  </section> -->
</Layout>
