---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import SpeakersSection from "@modules/SpeakersSection";
import Hero from "@components/Hero";
import {getAllSpeakers} from "@data/speakers";

const sortedMembers = getAllSpeakers[0].speakers.sort((a, b) =>
  a.name.localeCompare(b.name)
);

---

<Layout namespace="2026/boston">
  <SEO slot="head" title="Speakers" img={1} />

  <section class="py-8">
    <Hero
    title="Speakers"
    content=" Meet the experts, partners, and community team members who are speaking at Nextflow Summit Boston 2025."
  
    client:load
  />
 </section>


  <div class="container mt-14">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
      {
        sortedMembers.map((name,index) => (
           <div>
           <SpeakersSection 
           person={name} 
           index={index}
             location="boston"
           client:only="react"/>
           </div>
        ))
      }

    </div>
  </div>

</Layout>
