.section {
  background-color: var(--color-nextflow);
  background-image: url("./bg.svg");
  background-size: cover;
  color: var(--color-brand);
  position: relative;
  z-index: 2;
}
.text {
  font-weight: 700;
}
