---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import HubspotForm from "@components/HubspotForm";
import Button from "@components/Button";
import clsx from "clsx";
import styles from "./register.module.css";
import SignUpForm from "@modules/SignUpForm";
import qa from "./qa";
---

<Layout showNav={false}>
  <SEO slot="head" title="Register" img={1} />
  <section class="wrapper">
    <div class="">
      <div class={clsx(styles.hero, "container pt-10")}>
        <div class="flex flex-col sm:flex-row sm:justify-between">
          <div class="w-full pr-10 pt-10">
            <h1 class="h2 mb-10">Join us in Boston</h1>
            <p class="monospace">
              Discover the ticket prices, discount dates, and refund policy
            </p>
          </div>
          <div class={clsx(styles.imageWrapper, "")}>
            <div class="w-full">
              <SignUpForm client:load />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-20 mb-20 container">
    <h1 class="h1 mb-10">Tickets</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <Box className="">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <div class="border-b border-b-nextflow w-full">
            <h5 class="h5 mb-4">Early bird 20% off</h5>
          </div>
          <p>February 10 - March 14</p>
          <p class="monospace text-lg">
            *Applicable to Summit track only
          </p>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <div class="border-b border-b-nextflow w-full">
            <h5 class="h5 mb-4">Standard Pricing</h5>
          </div>
          <p>February 10 - March 14</p>
          <p class="monospace text-lg">
            March 14 - April 25
          </p>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <div class="border-b border-b-nextflow w-full">
            <h5 class="h5 mb-4">Cancellation Period</h5>
          </div>
          <p>Ends April 25, 2025</p>
          <p class="monospace text-lg">
            *Applicable to Summit track only
          </p>
        </SubSection>
      </Box>

    </div>
  </section>

  <Faq className="mt-40 mb-20" client:load data={qa} />


</Layout>
