.document {
  /* background: var(--color-brand-100); */
  /* background: rgba(255, 255, 255, 0.9); */
  color: black;
  @media (--sm) {
    border: 1px solid var(--color-nextflow);
  }
  & h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom:  1rem;
  }
  & h2 {
    font-size: 1.5rem;
    font-weight: 700;
     margin-bottom:  1rem;
  }
  & h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom:  1rem;
    @media (--sm) {
      font-size: 2rem;
    }
  }
  & h4 {
    font-size: 1rem;
    font-weight: 700;
   margin-bottom:  1rem;
  }
  & p {
    margin-bottom: 1rem;
  }
  & ul {
    list-style: unset;
    margin-bottom: 24px;
    padding: 0 0 0 24px;
    font-size: .9rem;
  }
  & a {
    color: var(--color-nextflow);
  }
}
