.document {
  background: var(--color-brand-100);
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-brand);
  margin: 0 -16px;
  padding: 24px;
  @media (--sm) {
    border-radius: 16px;
    margin: 32px 0;
    padding: 48px;
  }
  & h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 24px;
  }
  & h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 24px;
  }
  & h3 {
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 18px;
  }
  & h4 {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 18px;
  }
  & p {
    margin-bottom: 24px;
  }
  & ul {
    list-style: unset;
    margin-bottom: 24px;
    padding: 0 0 0 24px;
  }
  & a {
    color: var(--color-wave-900);
  }
}
