---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import sponsors from "@data/sponsors";
import Sponsor from "@components/Sponsor";

---

<Layout namespace="2026/virtual">
  <SEO slot="head" title="Sponsors" img={1} />
  <section class="mt-10 md:mt-20 mb-24 container">
    <h1 class="h1 mb-4 md:mb-8">Sponsors</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        sponsors.barcelona?.map((sponsor) => (
          <Sponsor sponsor={sponsor} location="barcelona" />
        ))
      }
    </div>
  </section>

</Layout>
