.faqAnswer {
    a {
        text-decoration: underline;
        transition: all .3s;
        &:hover{
            transition: all .3s;
            color: var(--color-nextflow);
        }
    }
    ul {
        margin-top: 1rem;
        list-style-type:disc;
        padding-left: 1.25rem;
        li {
          margin-bottom: 1rem;
        }
      }
}