.faqAnswer {
  a {
    text-decoration: underline;
    transition: all 0.3s;
    &:hover {
      transition: all 0.3s;
      color: var(--color-nextflow);
    }
  }
  ul {
    margin-top: .75rem;
    list-style-type: disc;
    /* padding-left: 1.25rem; */
    li {
      margin-bottom: .75rem;
    }
  }
  p {
    margin-bottom: 1rem;
  }
}
