.rank {
  display: block;
  line-height: 1.2;
  &.Diamond {
    color: var(--color-nextflow);
  }
  &.Platinum {
    color: var(--color-multiqc-300);
  }
  &.Gold {
    color: var(--color-fusion);
  }
  &.Silver {
    color: var(--color-gray-300);
  }
  &.Bronze {
    color: var(--color-wave);
  }
}

.sponsorImage {
  height: 60px;
  img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
}
.ctaLink {
  &:hover {
    color: var(--color-nextflow);
    transition: all .3s;
    cursor: pointer;
    svg path {
      transition: all .3s;
      stroke: var(--color-nextflow);
    }
  }
}