.button {
  border: 1px solid transparent;
  transition: all 0.4s;
  /* border-radius: 4px; */
  text-transform: uppercase;
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: var(--color-nextflow-600);
  color: black;
  font-size: .8rem;
  padding: 7px 15px;
  min-width: 150px;

  & .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: transparent;
  }

  & .arrowAfter {
    background: white;
    height: 100%;
    /* border-radius: 2px; */
    padding: 4px 3px;
    transition: all 0.3s;
    color: var(--color-nextflow); 
  }

  transition: all 0.3s;

  &:hover {
    & .arrowAfter {
      background: black;
      color: white; 
    }
  }
}

.light {
  color: black;
  background: white;

  & .arrowAfter {
    background: var(--color-nextflow);
    color: white; 
  }
}

.light2 {
  color: black;
  background: white;

  & .arrowAfter {
    background: black;
    color: white; 
  }
  
  &:hover {
    & .arrowAfter {
      background: var(--color-nextflow);
      color: white; 
    }
  }
}

.dark {
  background: black;
  color: white;
  
  & .arrowAfter {
    background: var(--color-nextflow);
    color: white; 
  }
  
  &:hover {
    & .arrowAfter {
      background: white;
      color: black; 
    }
  }
}

.dark2 {
  background: black;
  color: white;
  
  & .arrowAfter {
    background: white;
    color: black; 
  }
  
  &:hover {
    & .arrowAfter {
      background: var(--color-nextflow);
      color: white; 
    }
  }
}

.outline {
  padding: 5px 30px;
  border: 1px solid #F0F0F0;
  &:hover {
    background: black;
    color: white;
  }
}

.dark.outline {
   &:hover {
    background: white;
    color: black;
  }
}