.button {
  border: 1px solid transparent;
  transition: all 0.4s;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  background: var(--color-nextflow-600);
  color: black;

  & .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: transparent;
  }

  & .arrowAfter {
    background: white;
    height: 100%;
    border-radius: 4px;
    padding: 0.35rem;
    transition: all 0.3s;

    svg path {
      stroke: var(--color-nextflow);
    }
  }

  transition: all 0.3s;

  &:hover {
    & .arrowAfter {
      background: black;

      svg path {
        stroke: white;
      }
    }
  }
}

.light {
  color: black;
  background: white;

  & .arrowAfter {
    background: var(--color-nextflow);

    svg path {
      stroke: white;
    }
  }
}

.dark {
  background: black;
  color: white;
    & .arrowAfter {
          background: var(--color-nextflow);


    svg path {
      stroke: white;
    }
  }
    &:hover {
    & .arrowAfter {
      background: white;

      svg path {
        stroke:  black;
      }
    }
  }
}
