.button {
  border: 1px solid transparent;
  transition: all 0.4s;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-flex;
  padding: 0;
  overflow: hidden;
  position: relative;

  & .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5px 8px;
    background: transparent;
  }
  & .arrowAfter {
    background: var(--color-nextflow);
    height: 100%;
    border-radius: 4px;
    padding: .35rem;
    transition: all .3s;
  }
  & .arrowBefore {
    background: white;
    height: 100%;
    border-radius: 4px;
    padding: .35rem;
    transition: all .3s;
    svg path {
      stroke: var(--color-nextflow);
    }
  }
  transition: all .3s;
  &:hover {
    transition: all .3s;
    background: var(--color-nextflow);
    .arrowBefore {
      /* transform: translateX(2px); */
    }
  }
}

.button.white {
  color: black;
  background: white;
  &:hover {
    background: var(--color-nextflow);
    color: white;
    .arrowAfter {
      background: white;
      /* transform: translateX(2px); */
      svg path {
        stroke: var(--color-nextflow);
      }
    }
    .arrowBefore {
      svg path {
        stroke: var(--color-nextflow);
      }
    }
  }
}

.button.secondary {
  background: transparent;
  border-color: var(--color-brand);
  & .hoverBG {
    background: var(--color-brand);
  }
  & .content {
    color: var(--color-brand);
    &:hover {
      color: #fff;
    }
  }
}

.button.cta {
  color: white;
  border: 1px solid var(--color-nextflow-400);
  transition: all 0.5s;
  background: rgb(22, 15, 38);
  background: linear-gradient(
    23deg,
    rgba(22, 15, 38, 1) 50%,
    rgba(3, 48, 40, 1) 100%
  );
  & .hoverBG {
    background: rgb(4, 54, 44);
    background: linear-gradient(
      23deg,
      rgba(4, 54, 44, 1) 30%,
      rgba(3, 102, 138, 1) 100%
    );
  }
  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 255, 207, 0.4);
  }
}
