.masonryGrid {
  columns: 1;
  column-gap: 1.5rem;
  padding: 1.5rem;
}

.masonryItem {
  break-inside: avoid;
  margin-bottom: 1.5rem;
  position: relative;
  transition: transform 0.3s ease;
}

.galleryImage {
  display: block;
  width: 100% ;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}


@media (min-width: 640px) {
  .masonryGrid {
    columns: 2;
  }
}

@media (min-width: 768px) {
  .masonryGrid {
    columns: 3;
  }
}

@media (min-width: 1024px) {
  .masonryGrid {
    columns: 4;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}