---
const { namespace, altBG } = Astro.props;
import clsx from "clsx";
import styles from "./styles.module.css";
import Blob from "./Blob";
---

<div class={styles.backgroundContainer}>
  <div class={clsx(styles.background, { [styles.alt]: altBG })}>
    {!altBG && <div class={styles.overlay} />}
    <Blob type="green1" />
    <Blob type="green2" />
    <Blob type="green3" />
    <Blob type="green4" />
    {namespace && namespace == "2024/boston" && (
      <Blob type="orange1" />
      <Blob type="orange2" />
    )}
    {namespace && namespace == "2024/barcelona" && (
      <Blob type="blue1" />
      <Blob type="blue2" />
    )}
  </div>
  <slot />
</div>
