---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import SpeakersSection from "@modules/SpeakersSection";
import Hero from "@components/Hero";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Speakers" img={1} />


  <section class="py-8">
    <Hero
    title="Speakers"
    content=" Meet the experts, partners, and community team members who are speaking at this year's event held at Aloft Hotel in Boston."
    ctaText1="Register for Boston"
    ctaLink1="https://seqera.swoogo.com/nextflow-summit-boston-2025"
    ctaExternal1
    client:load
  />
 </section>


  <SpeakersSection client:load/>
    </div>
  </section>

</Layout>
