---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import PersonCard from "@components/PersonCard";
import speakers from "@data/speakers";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Speakers" img={1} />
  <section class="pb-16 pt-16 md:pt-20">
    <div class="container island pb-10 md:pb-20 text-center">
      <h1 class="h00 mb-8">Speakers <span class="text-nextflow">2025</span></h1>
      <div class="blockquote">
        This premier event brings together leading experts, innovators, and
        researchers to showcase the latest breakthroughs in workflow management.
      </div>
    </div>
    <p>Coming Soon</p>
    <!-- <div class="container">
      <div class="flex flex-wrap -m-4">
        {
          speakers.boston?.map((speaker) => (
            <PersonCard person={speaker} className="w-full md:w-1/2 p-4" />
          ))
        }
      </div> -->
    </div>
  </section>

</Layout>
