---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import SpeakersSection from "@modules/SpeakersSection";
import Hero from "@components/Hero";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Speakers" img={1} />

  <section class="py-8">
    <Hero
    title="Speakers"
    content=" Meet the experts, partners, and community team members who are speaking at Nextflow Summit Boston 2025."
  
    client:load
  />
 </section>

  <SpeakersSection client:load/>
</Layout>
