---
import { Image } from "astro:assets";
import Layout from "@layouts/Base.astro";
import { SponsoredBy } from "@components/Marquee";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import img from "@photos/hackers-1a.jpg";
import Box from "@components/Box";
import SEO from "@components/SEO";
import * as trainingBcn from "@components/MarkdownContent/training-bcn.md";
---

<Layout namespace="2024/barcelona">
  <SEO
    slot="head"
    title="Nextflow and nf-core Foundational Training"
    img={2}
    bcn
  />
  <section class="container py-20">
    <h2 class="h00 mb-12 text-center">
      {trainingBcn.frontmatter.title}
    </h2>
    <div class="flex flex-wrap -m-2 sm:-m-4">
      <div class="w-full md:w-1/2 p-2 sm:p-4">
        <div class="relative w-full h-full rounded-lg overflow-hidden">
          <Image
            src={img}
            alt="Nextflow training"
            class="object-cover h-full absolute inset-0"
          />
        </div>
      </div>
      <div class="w-full md:w-1/2 p-2 sm:p-4">
        <Box className="">
          <article class="prose text-white leading-normal prose-strong:text-white prose-li:mb-1 prose-li:mt-0 prose-headings:text-nextflow-600">
            <Fragment set:html={trainingBcn.compiledContent().split('<!-- End header -->')[0]}/>
          </article>
        </Box>
      </div>
    </div>
    <div class="container smaller mt-5">
      <Box alt>
        <article class="prose max-w-full text-white leading-normal prose-strong:text-white prose-li:mb-1 prose-li:mt-0 prose-headings:text-nextflow-600">
          <Fragment set:html={trainingBcn.compiledContent().split('<!-- End header -->')[1]}/>
        </article>
      </Box>
    </div>
  </section>
  <!-- <CTASection /> -->
  <Contact />
  <SponsoredBy client:load />
</Layout>
