---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Base.astro";
import Contact from "@modules/Contact";
import { SponsoredBy } from "@components/Marquee";
import Accommodation from "@modules/Accommodation";
import MapEmbed from "@components/MapEmbed";
import Box from "@components/Box";
import Accordion from "@components/Accordion";
import imgBarcelona from "@photos/barcelona.jpg";
import { Image } from "astro:assets";
import SEO from "@components/SEO";
---

<Layout namespace="2024/barcelona">
  <SEO slot="head" title="Travel" img={2} bcn />
  <section class="container py-20">
    <h2 class="h00 mb-12 text-center">Join us in Barcelona</h2>
    <div class="container mt-5">
      <div class="flex flex-wrap -m-2 sm:-m-4">
        <div class="w-full md:w-1/2 p-2 sm:p-4">
          <div class="rounded-lg overflow-hidden max-h-[300px]">
            <Image
              src={imgBarcelona}
              alt="Nextflow SUMMIT Barcelona"
              class="object-cover h-[300px] sm:h-full rounded-lg"
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 p-2 sm:p-4">
          <Box className="h-[400px] !border-nextflow-600/40">
            Barcelona, the cosmopolitan capital of Spain’s Catalonia region, is
            known for its art and architecture. The fantastical Sagrada Família
            church and other modernist landmarks designed by Antoni Gaudí dot
            the city. Museu Picasso and Fundació Joan Miró feature modern art by
            their namesakes. The history museum MUHBA includes several Roman
            archaeological sites, and the city was, of course, the birthplace of
            <code class="bg-nextflow-800 bg-opacity-30 px-1">Nextflow</code>.
          </Box>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <Box alt>
        <h2 class="h2 mb-6">Hackathon and Summit Venue</h2>
        <div class="flex flex-wrap -m-2 sm:-m-4">
          <div class="w-full md:w-1/2 p-2 min-h-[300px] relative">
            <div class="h-full w-full relative rounded-lg overflow-hidden">
              <MapEmbed
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29486.87678206097!2d2.157406824584928!3d41.377369138813016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2523cd5f815%3A0xe4451cff2eaf231d!2sWorld%20Trade%20Center%20Barcelona!5e0!3m2!1sen!2sse!4v1715698687163!5m2!1sen!2sse"
              />
            </div>
          </div>
          <div class="w-full md:w-1/2 p-2 min-h-[300px]">
            <Box>
              <p class="h3 mb-6">World Trade Center Barcelona</p>
              <p class="mb-2">
                <a
                  target="_blank"
                  href="https://maps.app.goo.gl/H3LaS62GgkATQTvVA"
                >
                  <Icon name="mdi:map-marker" class="-mt-1" />
                  Moll de Barcelona s/n, edifici Est, 1<sup>a</sup> planta. 08039,
                  Barcelona, Spain
                </a>
              </p>
              <p class="mb-3 font-thin text-sm">
                The World Trade Center Barcelona is a premier business complex
                on the Barcelona waterfront, offering offices, conference
                facilities, and a hotel, and known for hosting a variety of
                international business events and trade shows.
              </p>
              <a
                target="_blank"
                href="https://www.eurostarshotels.co.uk/eurostars-grand-marina.html?referer_code=bs2gg11ww&gad_source=1&gclid=EAIaIQobChMI1Yag2dDuhQMVdY9QBh16WADaEAAYASAAEgLaW_D_BwE"
              >
                <Icon name="mdi:external-link" />
                Website
              </a>
            </Box>
          </div>
        </div>

        <h2 class="h2 mb-6 mt-16">Summit Social Venue</h2>
        <div class="flex flex-wrap -m-2 sm:-m-4">
          <div class="w-full md:w-1/2 p-2 min-h-[300px]">
            <Box>
              <p class="h3 mb-6">Fàbrica Moritz</p>
              <p class="mb-2">
                <a
                  target="_blank"
                  href="https://maps.app.goo.gl/BqqjCuNTv8JTnJ7JA"
                >
                  <Icon name="mdi:map-marker" class="-mt-1" />
                  Rda. de Sant Antoni, 41, L'Eixample, 08011 Barcelona, Spain
                </a>
              </p>
              <p class="mb-3 font-thin text-sm">
                Join us at Fábrica Moritz, Barcelona's historic brewery and the
                ideal setting for a spooky Halloween party. Beyond beer, we'll
                serve a variety of drinks and delicious food for all Summit
                attendees to enjoy. Halloween costumes are optional but
                welcomed, and group costumes are highly encouraged!
              </p>
            </Box>
          </div>
          <div class="w-full md:w-1/2 p-2 min-h-[300px] relative">
            <div class="h-full w-full relative rounded-lg overflow-hidden">
              <MapEmbed
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.6044425559357!2d2.1607772768837594!3d41.382677996286056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a28ac1c7d247%3A0x200341909d1e7213!2sF%C3%A0brica%20Moritz%20Barcelona!5e0!3m2!1sen!2ses!4v1725991073244!5m2!1sen!2ses"
              />
            </div>
          </div>
        </div>
        <h2 class="h2 mb-6 mt-16">Hackathon Social Venue</h2>
        <div class="blockquote">Coming Soon</div>
      </Box>
      <div class="mt-5">
        <Box alt>
          <h2 class="h00 mb-8 h2">Local Information</h2>
          <Accordion
            client:load
            title="Health and Safety"
            content={`<p>
              We are committed to maintaining a clean and safe environment for all
              attendees. We encourage all participants to practice good hygiene,
              including regular hand washing and respiratory etiquette. In addition,
              we will monitor local health guidelines and adjust our measures as
              needed to ensure compliance and protect everyone’s well-being. If you
              start feeling unwell during the conference, please seek assistance
              from our team and avoid attending sessions to prevent any potential
              spread of illness.
            </p>   <p class="mt-6">
          Should you have any specific health concerns or requirements, please
          don’t hesitate to contact our on-site team. Your safety is essential
          to us, and we look forward to providing a secure and productive
          experience for all.
        </p>`}
          />

          <Accordion
            client:load
            title="Visas"
            content={`<p>
          EU citizens do not need a visa to visit Barcelona. Citizens of non-EU
          countries may require a visa and must possess a passport valid for at
          least three months. Please check the entry requirements for Spain to
          review visa rules for your own situation.
        </p>
        <p>
          If you need to apply for a visa to enter Spain we can issue you with a
          personalized invitation letter to assist your application. If this
          pertains to you please contact us by email at <a
            href="mailto:help.summit@nextflow.io"
            >help.summit@nextflow.io
          </a>
        </p>
        <p>
          Please note that all requests must be submitted <strong>at least 5 business days prior</strong> to your required deadline.
        </p>`}
          />
          <Accordion
            client:load
            title="From Barcelona Sants Train Station"
            content={`<p>
              Barcelona Sants is the main railway station in Barcelona. It has direct rail links with other European cities, including Paris, Zurich, and Milan, and high-speed trains to other major centers in Spain. The city center can be reached easily from Barcelona Sants using public transport. Tickets for local public transport can be purchased from the station.
            </p>`}
          />
          <Accordion
            client:load
            title="From Barcelona El Prat Airport"
            content={`      <p>
          The Aerobus is an express shuttle bus service between Barcelona
          Airport and Barcelona city center. There are Aerobuses to and from
          Terminal 1 and Terminal 2. The TMB Airport Bus Number 46 and Night Bus
          N17 and N16 are also available for transfers between the airport and
          the city center. TMB buses are cheaper but are also slower, less
          frequent, and provide less luggage space than the Aerobuses.
        </p>`}
          />
          <Accordion
            client:load
            title="City transport"
            content={`        <p>
          Mobility in Barcelona is easy as a result of its extensive metro,
          tram, bus, and the city and suburban rail services. The city also has
          a public bike hire scheme and more than 200 km of bike lanes, as well
          as a taxi fleet that includes environmentally friendly options.
        </p>`}
          />
          <Accordion
            client:load
            title="Code of Conduct"
            content={`        
            <ul class="list">
          <li>Be nice and respectful to others</li>
          <li>
            Collaborate to create a safe and supportive environment for all
            participants
          </li>
          <li>
            Refrain from harassing speech, content, and other unwelcome behavior
          </li>
          <li>Be open to alternate points of view</li>
          <li>Respect the privacy of others</li>
          <li>
            Comply with the instructions of the event staff and alert us if
            something is wrong
          </li>
        </ul>
        <p class="mt-6">You can check the full version of the Code of Conduct clicking   <a
            target="_blank"
            href="https://nf-co.re/code_of_conduct"
          >here. </a></p>`}
          />
        </Box>
      </div>
    </div>
    <Accommodation location="barcelona" client:load />
    <div class="container">
      <Box alt>
        <h2 class="h00 mb-8 h2">Sustainability</h2>

        The nf-core Hackathon and Nextflow Summit are committed to minimizing
        their environmental footprints.
        <ul class="list pt-6">
          <li>
            Both events will limit packaging, single use products, and where
            possible, utilize compostable materials.
          </li>
          <li>
            Printing of programmes and promotional material will be kept to a
            minimum with all conference material also being made available
            online.
          </li>
          <li>
            In-person attendees are encouraged to make environmentally
            sustainable travel choices by utilizing public transport and making
            use of green initiatives at hotels.
          </li>
          <li>
            Provided catering offers vegan options with a smaller environmental
            footprint.
          </li>
        </ul>
      </Box>
    </div>
  </section>

  <!-- <CTASection /> -->
  <Contact />
  <SponsoredBy client:load location="barcelona" />
</Layout>
