---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Base.astro";
import { CallForAbstracts } from "@components/Marquee";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import { SponsoredBy } from "@components/Marquee";
import Accommodation from "@modules/Accommodation";
import MapEmbed from "@components/MapEmbed";
import Box from "@components/Box";
import SEO from "@components/SEO";
---

<Layout namespace="2024/barcelona">
  <SEO slot="head" title="Travel" img={1} bcn />
  <section class="pb-6 pt-16 md:py-20">
    <CallForAbstracts
      client:load
      className="pb-10 md:pb-16"
      href="/2024/barcelona/call-for-abstracts"
    />
    <div class="container island text-center">
      <h1 class="h00 mb-8">Join us in Barcelona</h1>
      <div class="blockquote">
        Barcelona is a popular destination, especially during conference season.
        To ensure your accommodation for the Nextflow Summit, we recommend
        booking your hotel as soon as possible. We've secured special rates at
        select hotels. While rooms are available, block bookings are not. Make
        sure to reserve yours while supplies last using the promo code:
        nextflow24.
      </div>
    </div>
    <div class="container flex flex-wrap pt-10 md:pt-20">
      <div class="w-full md:w-1/2 p-2 min-h-[300px] relative">
        <div class="h-full w-full relative rounded-lg overflow-hidden">
          <MapEmbed
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d91862.987101934!2d2.190933834874357!3d41.34973306179916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a2523cd5f815%3A0x2056e4d78ee651b1!2sEurostars%20Grand%20Marina!5e0!3m2!1sen!2ses!4v1715266760210!5m2!1sen!2ses"
          />
        </div>
      </div>
      <div class="w-full md:w-1/2 p-2 min-h-[300px]">
        <Box>
          <p class="h1 mb-6">Eurostars Grand Marina</p>
          <p class="mb-2">
            <a target="_blank" href="https://maps.app.goo.gl/jYKfMAYawsCTLRk86">
              <Icon name="mdi:map-marker" class="-mt-1" />
              Moll de Barcelona, S/N, Ciutat Vella, 08039 Barcelona
            </a>
          </p>
          <a
            target="_blank"
            href="https://www.eurostarshotels.co.uk/eurostars-grand-marina.html?referer_code=bs2gg11ww&gad_source=1&gclid=EAIaIQobChMI1Yag2dDuhQMVdY9QBh16WADaEAAYASAAEgLaW_D_BwE"
          >
            <Icon name="mdi:external-link" />
            Website
          </a>
        </Box>
      </div>
    </div>
    <!-- <Accommodation client:load /> -->
  </section>
  <!-- <CTASection /> -->
  <Contact />
  <SponsoredBy client:load />
</Layout>
