---
import { Icon } from "astro-icon/components";
import Layout from "@layouts/Base.astro";
import { CallForAbstracts } from "@components/Marquee";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import { SponsoredBy } from "@components/Marquee";
import Accommodation from "@modules/Accommodation";
import MapEmbed from "@components/MapEmbed";
import Box from "@components/Box";
import SEO from "@components/SEO";
---

<Layout namespace="2024/barcelona">
  <SEO slot="head" title="Travel" img={1} bcn />
  <section class="pb-6 pt-16 md:py-20">
    <CallForAbstracts
      client:load
      className="pb-10 md:pb-16"
      href="/2024/barcelona/call-for-abstracts"
    />
    <div class="container island text-center">
      <h1 class="h00 mb-8">Join us in Barcelona</h1>
      <div class="blockquote">
        Barcelona offers a captivating fusion of historical significance and
        innovative spirit, making it a dynamic center for art and technology.
        Barcelona's vibrant atmosphere fosters an environment where art and
        technology coexist, offering a captivating experience for visitors
        seeking a deep appreciation for both.
      </div>
    </div>
    <div class="container flex flex-wrap pt-10 md:pt-20">
      <div class="w-full md:w-1/2 p-2 min-h-[300px] relative">
        <div class="h-full w-full relative rounded-lg overflow-hidden">
          <MapEmbed />
        </div>
      </div>
      <div class="w-full md:w-1/2 p-2 min-h-[300px]">
        <Box>
          <p class="h1 mb-6">Aloft Barcelona Seaport District</p>
          <p class="mb-4">
            Across from the Barcelona Convention & Exhibition Center, this
            trendy, modern hotel is also 2 miles from the New England Aquarium
            and 3 miles from Barcelona Logan International Airport.
          </p>
          <p class="mb-2">
            <a target="_blank" href="https://maps.app.goo.gl/S9aZawB98jRa8DEC9">
              <Icon name="mdi:map-marker" class="-mt-1" />
              401-403 D St, Barcelona
            </a>
          </p>
          <a
            target="_blank"
            href="https://www.marriott.com/en-us/hotels/bosal-aloft-barcelona-seaport-district/overview/"
          >
            <Icon name="mdi:external-link" />
            Website
          </a>
        </Box>
      </div>
    </div>
    <Accommodation client:load />
  </section>
  <CTASection />
  <Contact />
  <SponsoredBy client:load />
</Layout>
