---
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero";
import SEO from "@components/SEO";
// import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import img1 from "@images/photos/2025/boston/training-computer.jpg";
import img2 from "@images/photos/2025/boston/why-attend.jpg";
import img3 from "@images/photos/2025/boston/audience.jpg";
// import qa from "./qa";
import Training from "@icons/Training";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Why Attend" img={1} />
  <section class="">
    <Hero
      title="Why Attend"
      content="The Nextflow Summit is the leading event for scientific data processing and data analysis, offering high-quality programming that spans scientific talks, poster sessions, and networking opportunities. Here, the vibrant community gathers to showcase the latest developments and innovations from the Nextflow world. At the Summit, open science takes the main stage."
      href={img2.src}
      alt="Image of Boston"
      ctaText1="Register Now"
      ctaLink1="/2025/boston/register"
      ctaText2="Call for abstracts"
      ctaLink2="/call-for-abstracts"
    />
  </section>

  <section class="mt-20 mb-24 container">
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="border border-nextflow xl:aspect-square relative overflow-hidden object-cover">
          <img
            class="w-full h-full absolute top-0 left-0 right-0 bottom-0 object-cover"
            src={img1.src}
          />
      </div>
      <Box className="xl:aspect-square">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <Training />
          <div class="mt-10">
            <h5 class="h5 mb-4">The quintessential Nextflow Community event</h5>
            <p class="monospace">
              The Nextflow Summit unites Nextflow enthusiasts, experts, and
              collaborators for unparalleled networking, building friendships,
              and collaboration opportunities, including an in-person community
              hackathon.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="xl:aspect-square">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <Training />
          <div class="mt-10">
            <h5 class="h5 mb-4">Push boundaries and innovate with Nextflow</h5>
            <p class="monospace">
              At the Hackathon, you'll join forces to tackle real-world
              challenges, pushing boundaries and creating innovative pipelines
              with Nextflow. You'll also be inspired by the latest advancements
              and best practices shared at the Summit.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="xl:aspect-square">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <Training />
          <div class="mt-10">
            <h5 class="h5 mb-4">Learn and collaborate with Nextflow experts</h5>
            <p class="monospace">
              The Nextflow Summit provides a comprehensive experience in
              workflow management and data orchestration, featuring real-life
              success stories, inspiring keynotes, and panel discussions and
              seasoned users aiming to stay abreast of the latest technologies.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="xl:aspect-square">
        <SubSection className="flex flex-col justify-between min-h-[350px]">
          <Training />
          <div class="mt-10">
            <h5 class="h5 mb-4">Showcase your work to industry leaders</h5>
            <p class="monospace">
              The Nextflow Summit offers a prime platform to showcase your work
              and receive valuable community feedback on a wide range of
              Nextflow-related topics, from novel analysis methods to optimizing
              performance on cloud platforms.
            </p>
          </div>
        </SubSection>
      </Box>

      <div class="border border-nextflow xl:aspect-square relative overflow-hidden object-cover">
        <img
          class="w-full h-full absolute top-0 left-0 right-0 bottom-0 object-cover"
          src={img3.src}
        />
    </div>
    </div>

    <!-- <Faq className="mt-40 mb-20" data={qa} /> -->
  </section>
</Layout>
