---
import logo from "./logo.svg";
import Card from "./Card.astro";
---

<section class="py-20">
  <div class="container smaller">
    <div class="text-center">
      <div class="w-full px-4">
        <img
          src={logo.src}
          class="w-full max-w-[474px] mx-auto"
          alt="Nextflow SUMMIT 2024"
        />
      </div>
      <h1 class="w-full h00 my-14">
        Get ready for SUMMIT events in 2024, in Boston and Barcelona!
      </h1>
      <div class="flex flex-wrap justify-center -mx-4">
        <Card location="boston" />
        <Card location="barcelona" />
      </div>
    </div>
  </div>
</section>
