---
import logo from "./logo.svg";
import Card from "./Card.astro";
import Preregister from "@modules/SignUpForm";
import Box from "@components/Box"
---

<section class="py-20">
  <div class="container smaller">
    <div class="text-center">
      <div class="w-full px-4">
        <img
          src={logo.src}
          class="w-full max-w-[474px] mx-auto"
          alt="Nextflow Summit 2025"
        />
      </div>
      <h1 class="w-full h00 my-14 opacity-90">
        Join Us at Nextflow Summit 2025!
      </h1>
      <Box className="mt-12 mx-auto max-w-[764px] mb-10">
        <Preregister client:load />
      </Box>

      <h1 class="h1 mt-16 mb-8 px-4 ">Get ready for an unforgettable experience with the Nextflow community!</h1>
      <div class="flex flex-wrap justify-center mx-4">
        <Card
          location="boston"
         />
        <Card
          location="barcelona"
         />
      </div>

    </div>
  </div>
</section>
