---
import logo from "./logo.svg";
import Card from "./Card.astro";
import GlassArea from "@components/GlassArea/index.astro";
---

<GlassArea className="py-20">
  <div class="container">
    <div class="flex flex-wrap justify-center text-center">
      <div class="w-full">
        <img src={logo.src} class="w-full max-w-[474px] mx-auto" />
      </div>
      <div class="w-full font-display text-6xl font-semibold my-14">
        Get ready for SUMMIT events in 2024, in Boston and Barcelona!
      </div>
      <Card location="boston" />
      <Card location="barcelona" />
    </div>
  </div>
</GlassArea>
