---
const { backLink } = Astro.props;
import clsx from "clsx";
import styles from "./styles.module.css";
---

<>
  {
    !!backLink && (
      <div class="text-left mb-6">
        <a
          href={backLink.href}
          class="text-nextflow-400 hover:text-product-300 transition-all duration-200"
        >
          &larr; {backLink.label}
        </a>
      </div>
    )
  }
  <div class={styles.box}>
    <slot />
  </div>
</>
