.landingLogo {
  svg {
    max-width: 180px;
  }
}

.downloadButton::before {
  content: '';
  position: absolute;
  inset: -3px;
  background: conic-gradient(
    from var(--shimmer-angle, 0deg),
    transparent 0%,
    #0cae8e 10%,
    transparent 20%
  );
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  padding: 3px;
  opacity: 0;
  animation: shimmer 5s ease infinite;
  pointer-events: none;
}

@keyframes shimmer {
  0% {
    --shimmer-angle: 0deg;
    opacity: 0;
  }
  2%,
  18% {
    opacity: 1;
  }
  20%,
  100% {
    --shimmer-angle: 360deg;
    opacity: 0;
  }
}

@property --shimmer-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
