.card {
  position: relative;
  background: var(--color-brand);
  min-height: 448px;
  border-radius: 16px;
  overflow: hidden;
  & > img {
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
  }
  & > div {
    position: absolute;
    inset: 0;
    display: flex;
    padding: 36px;
    & h4 {
      font-size: 28px;
      font-family: Degular;
      font-weight: 500;
      margin-bottom: 16px;
      display: block;
      max-width: 200px;
    }
    align-items: end;
  }
}
.nav {
  line-height: 0;
  & button {
    background: transparent;
    background-image: url("./nav-left.svg");
    background-repeat: no-repeat;
    line-height: 0;
    padding: 0;
    border: none;
    display: inline-block;
    height: 33px;
    width: 32px;
    &:last-child {
      background-image: url("./nav-right.svg");
      margin-left: 10px;
    }
  }
}
