---
import Layout from "@layouts/Base.astro";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import SEO from "@components/SEO";
import PersonCard from "@components/PersonCard";
import sponsors from "@data/sponsors";
import Sponsor from "@components/Sponsor";
---
<Layout namespace="2024/boston">
  <SEO slot="head" title="Sponsors" img={1} />
  <section class="pb-16 pt-16 md:pt-20">
    <div class="container island pb-10 md:pb-20 text-center">
      <h1 class="h1 text-nextflow mb-8">Sponsors of the Summit</h1>
      <div class="-m-2">
        {sponsors.map((sponsor) => (
          <Sponsor sponsor={sponsor} location="boston" />
        ))}
      </div>
    </div>
  </section>

  <CTASection />
  <ImageSection alt2 className="mt-20" />
  <Contact />
</Layout>
