.container {
  display: flex;
  flex-wrap: wrap;
}
.container > div {
  min-width: 160px;
}
@media (min-width: 800px) {
  .container > div {
    min-width: 250px;
  }
}
@media (min-width: 1170px) {
  .container > div {
    min-width: 200px;
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .container > div {
    min-width: 350px;
  }
}
@media (min-width: 1601px) {
  .container > div {
    min-width: 160px;
  }
}
