.header {
  display: none;
  @media (--lg) {
    display: block;
  }
  background: var(--color-brand);
  background: linear-gradient(
    0deg,
    rgba(27, 24, 44, 1) 0%,
    rgba(22, 15, 38, 1) 50%
  );
  border-bottom: 1px solid #ffffff;
  z-index: 100;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  & > div {
    height: 60px;
  }
  & nav {
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      & li {
        & a:global(.navItem) {
          display: block;
          padding: 12px 10px;
          margin: 0 4px;
          line-height: 1;
          font-weight: 400;
          position: relative;
          color: var(--color-brand-200);
          transition: all .3s;
          &[data-active],
          &:hover {
            opacity: 80%;
            transition: all .25s;
            color: var(--color-nextflow);
          }
        }
      }
    }
  }
}
