---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import Gallery from "@components/Gallery/index.astro";

// const photos = await Astro.glob("@images/photos/barcelona-2026/*");
---

<Layout namespace="2026/barcelona" altBG>
  <SEO slot="head" title="Gallery" img={2} />
  <section class="container text-center pt-10 md:pt-16">
    <Gallery
      title="Barcelona Hackathon & Training 2025"
      images={photos}
      ctaURL="https://photos.app.goo.gl/YqaEbajDRA4moyyS9"
    />
  </section>
</Layout>
