---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";

---

<Layout namespace="2026/barcelona" altBG>
  <SEO slot="head" title="Gallery" img={2} />
  <section class="container text-center pt-10 md:pt-16">

  </section>
</Layout>
