---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";

---

<Layout showNav={false} namespace="2025/boston">
  <!-- <SEO slot="head" title="Register" img={1} /> -->
  <section class="wrapper">

    <!-- to do: testing swoogo form -->
    <section class="pt-40 mb-24 container">
    <iframe src="https://seqera.swoogo.com/test-summit-dev"></iframe>
    </section>
  </section>
</Layout>
