---
import Layout from "@layouts/Base.astro";
import { SponsoredBy } from "@components/Marquee";
import Contact from "@modules/Contact";
import SEO from "@components/SEO";
import SessionCard from "@components/SessionCard";
import sessions from "@data/sessions";

let posters = Array();
{sessions['barcelona']?.map((session, i) => {
  if(session.categories.outcome && session.categories.outcome[0] === 'Poster') {
    session.url = session.url.replace('/agenda/', '/posters/');
    posters.push(session);
  }
})}
---

<Layout namespace="2024/barcelona" altBG>
  <SEO slot="head" title="Agenda" img={2} bcn />
  <section class="pb-6 pt-16 md:pt-20">
    <div class="container island pb-10 md:pb-20 text-center">
      <h1 class="h00 mb-8">Posters</h1>
      <div class="blockquote">
        Explore posters from the community and learn about their work.<br class="hidden sm:inline">
        The Poster session is Thursday Oct 31,  3.30 - 4.30<sup>PM</sup>.
      </div>
    </div>
  </section>
  <section class="pb-6">
    <div class="container">
      <div class="flex flex-wrap -m-4">
        {posters.map((poster) => <SessionCard session={poster} className="w-full md:w-1/2 p-4" minimal={true} /> )}
      </div>
    </div>
  </section>
  <SponsoredBy client:load className="mt-12" location="barcelona" />
  <Contact />
</Layout>
