---
import Layout from "@layouts/Base.astro";
import { SponsoredBy } from "@components/Marquee";
import SEO from "@components/SEO";
import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import getAllEventPosts from "@data/events";
import EventPost from "@components/EventPost";

export function getStaticPaths() {
  return getAllEventPosts?.map((post) => ({
    params: { slug: post.slug.current },
    props: {post},
  }));
}

const { post } = Astro.props;
---

<Layout namespace="2025/boston" imgUrl={post.mainImage && post.mainImage.asset.url } >
  <SEO slot="head" title={post.title}  />
  <section class="mt-10 md:mt-20 mb-24 container">
    <EventPost post={post}   client:only="react" />
  </section>
</Layout>
