---
import Layout from "@layouts/Base.astro";
import KeyDates from "@components/KeyDates/index.astro";
import Calendar from "@components/Calendar";
import Schedule from "@components/Schedule";
import SEO from "@components/SEO";
import Box, { SubSection } from "@components/Box";
---

<Layout namespace="2025/boston" altBG>
  <SEO slot="head" title="Agenda | Boston" img={1} />


  <section class="pb-6 pt-16 md:pt-20 mb-20">
      <div class="container">
      <h1 class="h1 mb-4 md:mb-6">Agenda</h1>
        <div class="monospace mt-6 text-brand-100 mb-10">
        Subscribe to calendar:
        <a
          class="text-nextflow"
          href="https://calendar.google.com/calendar/ical/c_6fcf2965db184555c52131dac98866739ec4536b396c440688d48392bf2d9f22%40group.calendar.google.com/public/basic.ics" target="blank">iCal</a
        > |
        <a
          class="text-nextflow"
          href="https://calendar.google.com/calendar/u/0?cid=Y182ZmNmMjk2NWRiMTg0NTU1YzUyMTMxZGFjOTg4NjY3MzllYzQ1MzZiMzk2YzQ0MDY4OGQ0ODM5MmJmMmQ5ZjIyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20" target="_blank"
          >Google Calendar</a
        >
      </div>

      <Schedule client:load />
    </div>

  </section>

  <section class="mt-10 md:mt-20 mb-24 container">
    <h1 class="h1 mb-4 md:mb-8">Join us in Boston</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection className="flex flex-col">
          <div>
            <div class="border-b border-b-nextflow w-full">
              <h5 class="h5 mb-4">Training</h5>
            </div>
            <div class="py-4 monospace border-b border-b-nextflow">
              May 13-14 • training
            </div>
          </div>
          <div>
            <h5 class="h5 mb-2 pt-4">2 days / 50 people</h5>
            <p class="monospace">
              An in-person foundational training to supercharge your pipeline
              development with Nextflow and nf-core. <br /><br />Running in
              parallel to the hackathon.
            </p>
          </div>
        </SubSection>
      </Box>

      <Box className="">
        <SubSection className="flex flex-col ">
          <div>
            <div class="border-b border-b-nextflow w-full">
              <h5 class="h5 mb-4">Hackathon</h5>
            </div>
            <div class="py-4 monospace border-b border-b-nextflow">
              May 13-14 • hackathon
            </div>
          </div>
          <div>
            <h5 class="h5 mb-2 pt-4">2 days / 100 people</h5>
            <p class="monospace">
              An in-person hackathon to tackle real-world challenges, create
              innovative pipelines with Nextflow, and develop nf-core.<br /><br
              />
              Running in parallel to the training.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col">
          <div class=>
            <div class="border-b border-b-nextflow w-full">
              <h5 class="h5 mb-4">Summit</h5>
            </div>
            <div class="py-4 monospace border-b border-b-nextflow">
              May 15-16 • talks, networking and more
            </div>
          </div>
          <div>
            <h5 class="h5 mb-2 pt-4">1.5 days / 200+ people</h5>
            <p class="monospace">
              A showcase of the latest developments and innovations from the
              Nextflow world. Session themes include: Enabling Science, Big
              Nextflow, and Organizational Impact.
            </p>
          </div>
        </SubSection>
      </Box>
    </div>
  </section>

  <section class="container">
    <KeyDates location="boston" />
  </section>


</Layout>
