---
import Layout from "@layouts/Base.astro";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import SEO from "@components/SEO";
import PersonCard from "@components/PersonCard";
import speakers from "@data/speakers";
---
<Layout namespace="2024/boston">
  <SEO slot="head" title="Speakers" img={1} />
  <section class="pb-16 pt-16 md:pt-20">
    <div class="container island pb-10 md:pb-20 text-center">
      <h1 class="h00 mb-8">Speakers 2024</h1>
      <div class="blockquote">
        This premier event brings together leading experts, innovators, and
        researchers to showcase the latest breakthroughs in workflow management.
      </div>
    </div>
    <div class="container">
      <div class="flex flex-wrap -m-4">
        {speakers.map((speaker) => (
          <PersonCard person={speaker} className="p-4" />
        ))}
      </div>
    </div>
  </section>

  <CTASection />
  <ImageSection alt2 className="mt-20" />
  <Contact />
</Layout>
