input[type="text"],
input[type="email"] {
  border: none;
  padding: 10px;
  outline: none;
  color: var(--color-brand-900);
  border-radius: 4px;
}
input[type="submit"] {
  background-color: var(--color-wave);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.hs-error-msgs {
  color: var(--color-multiqc-300);
  font-size: 0.8em;
}
.form-style-1 {
  background: var(--color-brand-1000);
  border-radius: 16px;
  padding: 32px;
  & input {
    width: 100%;
  }
  & input[type="submit"] {
    background: #4256e7;
    border-radius: 999px;
    font-weight: 600;
  }
  & .hs-richtext.hs-main-font-element {
    font-size: 11px;
    color: var(--color-brand-500);
    padding-top: 16px;
  }
  & .hs-form-field,
  & .hs_submit {
    padding-top: 16px;
  }
  & .hs-fieldtype-checkbox {
    & .hs-field-desc {
      font-size: 11px;
      color: var(--color-brand-500);
    }
    & ul {
      display: flex;
      & li {
        & label {
          display: flex;
          align-items: center;
          & input {
            margin-right: 8px;
          }
        }
        &:not(:first-child) {
          margin-left: 16px;
        }
      }
    }
  }
}
.submitted-message.hs-main-font-element {
  color: var(--color-wave-500);
}
