@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-gray-900 overflow-x-hidden;
  }
}

@layer components {
  .hubspot-form {
		@apply bg-black text-white border border-gray-800 p-4 lg:p-8 rounded-md shadow-lg;
	}

	.hubspot-form .hs-form-field {
		@apply mt-4 first:mt-0;
	}

	.hubspot-form label {
		@apply typo-small;
	}

  .hubspot-form .hs-fieldtype-text .hs-input {
    @apply cursor-default bg-gray-900 w-full p-4 block border border-gray-800 outline-none;
  }

  .hubspot-form .hs-fieldtype-select .hs-input {
    @apply cursor-default w-full p-4 block border border-gray-200 appearance-none;
    background-image: url('../images/icons/down.svg');
    background-repeat: no-repeat;
    background-position: center right 16px;
  }

  .hubspot-form .hs-error-msg {
    @apply text-red-600 mt-2 block;
  }

	.hubspot-form .hs-button.primary.large {
		@apply text-base font-body font-medium leading-none antialiased select-none transition-all duration-200 cursor-pointer;
		@apply px-8 py-4 rounded-full w-full;
		@apply btn-accent hover:opacity-[0.95];
	}

	.hubspot-form .hs-form-booleancheckbox-display {
		@apply flex text-xs;
	}

	.hubspot-form .hs-form-booleancheckbox-display .hs-input[type=checkbox] {
		@apply w-auto;
	}

  .hubspot-form .hs-form-checkbox .hs-input[type=checkbox] {
		@apply w-auto mr-4;
	}

	.hubspot-form .legal-consent-container {
		@apply my-4 typo-small text-xs;
	}

	.hubspot-form .legal-consent-container a {
		@apply border-b border-current pb-px;
	}

	.hubspot-form .legal-consent-container .field.hs-form-field {
		@apply mb-0 mt-2;
	}

	.hubspot-form .submitted-message {
		@apply typo-h4;
	}

  .hubspot-form .hs-richtext.hs-main-font-element {
    @apply my-4 typo-small text-xs;
  }

  .hubspot-form .hs-richtext.hs-main-font-element a {
    @apply cursor-pointer hover:no-underline border-b border-current pb-px;
  }

  .hubspot-form .hs-field-desc {
    @apply typo-small my-2;
  }

  .typo-h1 {
    @apply font-display font-semibold text-2xl md:text-4xl lg:text-5xl antialiased;
  }

  .typo-h2 {
    @apply font-display font-semibold text-2xl md:text-3xl lg:text-4xl antialiased;
  }

  .typo-h3 {
    @apply font-display font-semibold text-2xl md:text-3xl antialiased;
  }

  .typo-h4 {
    @apply font-display font-semibold text-xl md:text-2xl antialiased;
  }

  .typo-h5 {
    @apply font-display font-semibold text-base antialiased tracking-wider;
  }

  .typo-h6 {
    @apply font-display font-semibold text-base antialiased;
  }

  .typo-blockquote {
    @apply font-body font-light text-lg lg:text-xl antialiased;
  }

  .typo-intro {
    @apply font-body text-base font-semibold antialiased;
  }

  .typo-body {
    @apply font-body text-base font-light antialiased;
  }

  .typo-small {
    @apply font-body text-xs font-light antialiased;
  }

  .container-xl {
    @apply mx-auto px-4;
    max-width: 1440px;
  }

  .container-lg {
    @apply mx-auto px-4;
    max-width: 1300px;
  }

  .container-md {
    @apply mx-auto px-4;
    max-width: 1100px;
  }

  .container-sm {
    @apply mx-auto px-4;
    max-width: 900px;
  }

  .row {
    @apply -mx-4 flex flex-row flex-wrap;
  }

  .col {
    @apply px-4;
  }

  .col-shrink {
    @apply col flex-none;
  }

  .col-full {
    @apply col flex-1/1 min-w-full;
  }

  .col-1 {
    @apply col flex-1/12 min-w-1/12;
  }

  .col-2 {
    @apply col flex-2/12 min-w-2/12;
  }

  .col-3 {
    @apply col flex-3/12 min-w-3/12;
  }

  .col-4 {
    @apply col flex-4/12 min-w-4/12;
  }

  .col-5 {
    @apply col flex-5/12 min-w-5/12;
  }

  .col-6 {
    @apply col flex-6/12 min-w-6/12;
  }

  .col-7 {
    @apply col flex-7/12 min-w-7/12;
  }

  .col-8 {
    @apply col flex-8/12 min-w-8/12;
  }

  .col-9 {
    @apply col flex-9/12 min-w-9/12;
  }

  .col-10 {
    @apply col flex-10/12 min-w-10/12;
  }

  .col-11 {
    @apply col flex-11/12 min-w-11/12;
  }

  .btn-primary {
    @apply bg-black text-white;
  }

  .btn-secondary {
    @apply bg-transparent text-green-300 border border-green-300 hover:bg-green-300 hover:text-black;
  }

  .btn-accent {
    @apply bg-green-300 text-black;
  }

  .btn-primary-alt {
    @apply bg-green-300 text-black;
  }

  .btn-secondary-alt {
    @apply bg-white text-green-300 hover:bg-green-200;
  }

  .btn-accent-alt {

  }

  .typed {
    background: linear-gradient(180deg, #EE8899 0%, #AC77E7 100%);
    -webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  }
}

@layer utilities {
  .shadow {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

  .bg-halfs {
    background-image: linear-gradient(to right, var(--tw-gradient-from) 50%, var(--tw-gradient-to) 50%);
  }

  .bg-gradient-accent {
    background-image: linear-gradient(237.19deg, #24AA60 30.22%, #4256E7 87.13%);
  }
}
