:root {
  --sl-blue: #4256e7;
}
html,
body {
  background-color: var(--color-brand) !important;
  color: white;
  /* scroll-padding-top: 104px; */
}
body {
  min-height: 100vh;
}
/* header#header,
header#headerMobile,
main#body,
footer#footer {
  min-width: 320px;
  width: 100vw;
  overflow-x: hidden;
} */
footer#footer {
  position: relative;
  z-index: 10;
}
main#body {
  position: relative;
}
.container {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (--sm) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  &.island {
    width: fit-content;
    max-width: 840px;
  }
  &.smaller {
    max-width: 1000px;
  }
  &.smallest {
    max-width: 824px;
  }
}
/* .wrapper {
  padding: 0 1.5rem;
  @media (--md) {
    padding: 0 2.5rem;
  }
} */

.js-hide-nav {
  opacity: 0;
  transition: all 0.25s;
  pointer-events: none;
}

.dropdownBtn {
  &:hover {
    svg path {
      transition: all .3s;
      fill: var(--color-nextflow);
      stroke: var(--color-nextflow);
    }
  }
}
.caret {
  &.active {
    & > svg path {
      fill: var(--color-nextflow);
      stroke: var(--color-nextflow);
    }
  }
}
