:root {
}
html,
body {
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  /* scroll-padding-top: 104px; */
}
body {
  min-height: 100vh;
}

footer#footer {
  position: relative;
  z-index: 10;
}
main#body {
  position: relative;
}
.container {
  max-width: none;
  margin: 0 auto;
  padding: 0 1rem;
}
.container-sm {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-md {
  max-width: 996px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-lg {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-xl {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.js-hide-nav {
  opacity: 0;
  transition: all 0.25s;
  pointer-events: none;
}

.dropdownBtn {
  &:hover {
    svg path {
      transition: all 0.3s;
      fill: var(--color-nextflow);
      stroke: var(--color-nextflow);
    }
  }
}
.caret {
  &.active {
    & > svg path {
      fill: var(--color-nextflow);
      stroke: var(--color-nextflow);
    }
  }
}

.box-hover {
  position: relative;
  transition: all 0.3s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 25px 1px var(--color-nextflow);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .arrow-up-right {
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    transition: all 0.3s ease-in-out;
    &::after {
      opacity: 1;
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .arrow-up-right {
      transform: rotate(45deg);
      transition: all 0.3s ease-in-out;
    }
  }
}

.swoogo-form {
  height: calc(100svh - 6rem);
}

.main-nav {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
}

.nav__highlight {
  position: absolute;
  z-index: 0;
  height: 100%;
  color: white !important;
  background: black;
}

.crossed-out {
  position: relative;
  &:after {
    content: "";
    height: 1px;
    width: 141.421%;
    background-color: var(--color-nextflow);
    position: absolute;
    left: -1px;
    top: 0px;
    transform: rotate(45deg);
    transform-origin: 1px 1px;
  }
}
