.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: Degular, sans-serif;
}

/* biggest headline used on landing page  */
.h0 {
  font-size: 70px;
  line-height: var(--leading-4xl);
  font-weight: 400;
  @media (--md) {
    font-size: 180px;
    line-height: 1;
  }
}

/* main headline  */
.h1 {
  font-size: var(--size-4xl);
  line-height: var(--leading-4xl);
  font-weight: 400;
  @media (--md) {
    font-size: 120px;
    line-height: var(--leading-3xl);
  }
}

/* secondary headline  */
.h2 {
  font-size: var(--size-4xl);
  line-height: var(--leading-3xl);
  @media (--md) {
    font-size: 80px;
    line-height: var(--leading-3xl);
  }
}

.h3 {
  font-size: var(--size-2xl);
  line-height: var(--leading-5xl);
  @media (--md) {
    font-size: 50px;
    line-height: var(--leading-3xl);
  }
}

.h4 {
  @media (--md) {
    font-size: 40px;
    line-height: var(--leading-3xl);
  }
}

.h5 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  @media (--lg) {
    font-size: 35px;
  }
}

.h6 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
}

.blockquote {
  font-size: var(--size-lg);
  line-height: var(--leading-lg);
  font-weight: 300;
  letter-spacing: 0.02em;
}

b {
  font-weight: 700;
}

svg[data-icon] {
  display: inline-block;
}
