.h000,
.h00,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: Degular, sans-serif;
  font-weight: 600;
}
.h000 {
  font-size: var(--size-5xl);
  line-height: var(--leading-5xl);
  font-weight: 700;
  @media (--sm) {
    font-size: var(--size-8xl);
    line-height: var(--leading-8xl);
  }
}
.h00 {
  font-size: var(--size-4xl);
  line-height: var(--leading-4xl);
  font-weight: 700;
  @media (--sm) {
    font-size: var(--size-6xl);
    line-height: var(--leading-6xl);
  }
}
.h0 {
  font-size: var(--size-4xl);
  line-height: var(--leading-4xl);
  font-weight: 700;
  @media (--sm) {
    font-size: var(--size-5xl);
    line-height: var(--leading-5xl);
  }
}
.h1 {
  font-size: var(--size-4xl);
  line-height: var(--leading-4xl);
  font-weight: 400;
}
.h2 {
  font-size: var(--size-3xl);
  line-height: var(--leading-3xl);
}
.h3 {
  font-size: var(--size-2xl);
  line-height: var(--leading-2xl);
}
.h4 {
  font-size: var(--size-xl);
  line-height: var(--leading-xl);
}
.h5 {
  font-size: var(--size-lg);
  line-height: var(--leading-lg);
  font-weight: 700;
  letter-spacing: 0.04em;
}
.blockquote {
  font-size: var(--size-lg);
  line-height: var(--leading-lg);
  font-weight: 300;
  letter-spacing: 0.02em;
}
b {
  font-weight: 700;
}
svg[data-icon] {
  display: inline-block;
}
