h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: Degular, sans-serif;
  font-weight: 400;
}

/* 120px */
.h1 {
  font-size: 80px;
  line-height: 1;
  @media (--sm) {
    font-size: 80px;
  }
  @media (--md) {
    font-size: 7.5rem;
  }
}

/* 100px */
.h2 {
  font-size: 40px;
  line-height: 1;
  @media (--sm) {
    font-size: 80px;
  }
  @media (--lg) {
    font-size: 6.25rem;
  }
}

/* 80px */
.h3 {
  font-size: 40px;
  line-height: 1;
  @media (--sm) {
    font-size: 4.5rem;
  }
  @media (--md) {
    font-size: 5rem;
  }
}

/* 60px */
.h4 {
  font-size: 30px;
  line-height: 1;
  @media (--md) {
    font-size: 3.75rem;
  }
}

/* 50px */
.h5 {
  font-size: 25px;
  line-height: 1;
  @media (--md) {
    font-size: 3.125rem;
  }
}

/* 30px */
.h6 {
  font-size: 20px;
  line-height: 1.2;
  @media (--md) {
    font-size: 1.875rem;
  }
}

.blockquote {
  font-size: var(--size-lg);
  line-height: var(--leading-lg);
  font-weight: 300;
  letter-spacing: 0.02em;
}

b {
  font-weight: 600;
}

svg[data-icon] {
  display: inline-block;
}

p,
.bodycopy {
  font-size: 0.9rem;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}
