h1,
h2,
h3,
h4,
h5,
h6,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: Degular, sans-serif;
  font-weight: 400;
}

/* biggest headline used on landing page  */
.h0 {
  font-size: 70px;
  line-height: 1;
  @media (--sm) {
    font-size: 120px;
  }
  @media (--md) {
    font-size: 140px;
  }
}

/* main headline  */
.h1 {
  font-size: 60px;
  line-height: 1;
  @media (--md) {
    font-size: 120px;
  }
}

/* secondary headline  */
.h2 {
  font-size: 50px;
  line-height: 1;
  @media (--md) {
    font-size: 80px;
  }
}

.h3 {
  font-size: 26px;
  line-height: 1;
  @media (--md) {
    font-size: 50px;
  }
}

.h4 {
  font-size: 24px;
  line-height: 1;
  @media (--md) {
    font-size: 40px;
  }
}

.h5 {
  font-size: 26px;
  line-height: 1.2;
  @media (--md) {
    font-size: 35px;
  }
}

.h6 {
  font-size: 20px;
  line-height: 1.2;
  @media (--md) {
    font-size: 24px;
  }
}

.blockquote {
  font-size: var(--size-lg);
  line-height: var(--leading-lg);
  font-weight: 300;
  letter-spacing: 0.02em;
}

b {
  font-weight: 600;
}

svg[data-icon] {
  display: inline-block;
}

p, .bodycopy {
  font-size: 0.875rem;
  line-height: 1.6;
  @media (--sm) {
    font-size: 1rem;
    line-height: 1.5;
  }
}
