---
import { Image } from "astro:assets";
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero";
import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import img from "@photos/2025/barcelona/training-bcn.jpg";
import SEO from "@components/SEO";
import ArrowUpRight from "@icons/ArrowUpRight";
import Training from "@icons/Training";
import Exercises from "@icons/Exercises";
import Laptop from "@icons/Laptop";
import Button from "@components/Button";
import qa from "./qa";
---

<Layout namespace="2025/barcelona">
  <SEO slot="head" title="Training | Barcelona" img={1} />

  <section class="">
    <Hero
      title="Nextflow Training Barcelona 2025"
      content=`This year’s training offers two tailored tracks to meet you where you are: a Beginner Track for those new to Nextflow, and an Advanced Track for experienced users ready to level up. Whether you're just getting started or looking to build more scalable, production-ready pipelines, there's a session designed for you.`
      href={img.src}
      alt="computer screen with Nextflow Training"
      ctaText1="Register Now"
      ctaLink1="https://seqera.swoogo.com/nextflow-training"
            ctaText2="Learn More"
      ctaLink2="#learn"
      ctaExternal1={true}
      client:load
    />
  </section>

  <section id="learn" class="h-20"></section>

  <section   class=" mb-24 container">
    <h1 class="h3 mb-4 md:mb-8">Beginner Track</h1>
    
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-8">
        <Box className="">
          <SubSection
            className="flex flex-col justify-between h-full md:min-h-[350px]"
          >
          <div>
            <div>
              <div class="border-b border-b-nextflow w-full">
                <h5 class="h6 mb-4">Who It's For</h5>
              </div>
  
              <div class="mt-6 max-w-[150px]">
                <Laptop />
              </div>
            </div>
            <div class="mt-10">
              <p class="monospace">
                This beginner-friendly session is perfect if you're new to
                Nextflow. You'll learn how to build simple multi-step workflows
                and run them from the command line, with guided hands-on exercises
                that cover workflow logic and language basics. You'll leave with
                the skills and resources to continue developing reproducible
                workflows on your own.
              </p>
            </div>
          </div>
            <Button white arrowAfter className="w-full mb-3 mt-4">
              <a
                class="absolute w-full h-full"
                href="https://seqera.swoogo.com/nextflow-training"
                target="_blank"></a>

              Register for Training
            </Button>
          </SubSection>
        </Box>
        <Box className="mb-12">
          <SubSection className="flex flex-col justify-between h-full">
            <div class="">
              <div
                class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
              >
                <h5 class="h6">Beginner Training Overview</h5>
              </div>
            </div>
            <div class="monospace h-full pb-2 pt-6 lg:mt-0">
              <p class="">
                This training workshop is intended as a “getting started” course for
                students and early-career researchers who are completely new to
                Nextflow. It aims to equip participants with foundational knowledge
                and skills in three key areas: (1) understanding the logic of how
                data analysis workflows are constructed, (2) Nextflow language
                proficiency and (3) command-line interface (CLI) execution. <br
                /><br />
                Additionally, participants will learn to leverage the resources and capabilities offered by the <a href="https://nf-co.re/" target="_blank">nf-core</a>  initiative and the <a href="https://seqera.io/platform/" target="_blank"
                >Seqera platform</a>.

              </p>
            </div>
    
            <div class="monospace">
              <ul>
                <li>
                  <span class="underline">Audience</span>: Beginners (no prior
                  Nextflow experience).
                </li>
                <li>
                  <span class="underline"> Required</span>: a GitHub account and basic experience with command line and scripting. Some bioinformatics concepts will be introduced.
                </li>
              </ul>
    
              By the end of the workshop, participants will be well-prepared for
              tackling the next steps in their journey to develop and apply
              reproducible workflows for their scientific computing needs.
              Additional study-at-home materials will be provided for them to
              continue learning and developing their skills further.
              </div>
            </p>
          </SubSection>
        </Box>
      </div>


      <h1 class="h3 mb-4 md:mb-8 mt-20">Advanced Track (Sold Out)</h1>

      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-8">
        <Box className="">
          <SubSection
            className="flex flex-col justify-between h-full md:min-h-[350px]"
          >
          <div>
            <div>
              <div class="border-b border-b-nextflow w-full">
                <h5 class="h6 mb-4">Who It's For</h5>
              </div>
  
              <div class="mt-6 max-w-[150px]">
                <Laptop />
              </div>
            </div>
            <div class="mt-10">
              <p class="monospace">
                Designed for those already familiar with Nextflow basics, this
                track dives into more advanced capabilities including testing,
                handling complex inputs, and composing modular workflows for
                scalable, production-ready pipelines.
              </p>
            </div>
            </div>
            <Button white arrowAfter className="w-full mb-3 mt-4">
              <a
                class="absolute w-full h-full"
                href="https://seqera.swoogo.com/nextflow-training"
                target="_blank"></a>

             Join the Waitlist
            </Button>
          </SubSection>
        </Box>
        <Box className="mb-12">
          <SubSection className="flex flex-col justify-between h-full">
            <div class="">
              <div
                class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
              >
                <h5 class="h4">Advanced Training Overview</h5>
              </div>
            </div>
            <div class="monospace h-full pb-2 pt-6 lg:mt-0">
              <p class="">
                This advanced training workshop is designed for researchers and
                developers who already have a basic understanding of Nextflow and are
                ready to deepen their skills. The course focuses on best practices for
                building production-ready pipelines, with hands-on experience in
                workflow testing, modular design, resource optimization, and complex
                input handling.
                <br /><br />
      
                Participants will also learn how to integrate with the <a
                  href="https://nf-co.re/"
                  target="_blank">nf-core</a
                > framework and use the <a
                  href="https://seqera.io/platform/"
                  target="_blank">Seqera platform.</a
                > to support collaborative development and streamline deployment in real-world
                research environments.
                <br /><br />
      
                <ul>
                  <li>
                    <span class="underline">Audience</span>: Intermediate to advanced
                    users with basic familiarity of Nextflow.
                  </li>
                  <li>
                    <span class="underline"> Required</span>: Prior experience writing and running basic Nextflow workflows.
                  </li>
                </ul>
      
                By the end of the workshop, participants will be equipped to
                confidently design, test, and manage robust workflows that scale
                across compute environments.<br /><br />
      
                Participants will also learn how to integrate with the nf-core framework and use the <a href="https://seqera.io/platform/" target="_blank"
                >Seqera platform</a> to scale workflows across infrastructure and to your teams in real-world research environments.
              </p>
            </div>
          </SubSection>
        </Box>
      </div>
 
    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection
          className="flex flex-col justify-between h-full md:min-h-[350px]"
        >
          <div>
            <div class="border-b border-b-nextflow w-full">
              <h5 class="h6 mb-4">Beginner Training</h5>
            </div>

            <div class="mt-6 max-w-[150px]">
              <Laptop />
            </div>
          </div>
          <div class="mt-10">
            <p class="monospace">
              This beginner-friendly session is perfect if you're new to
              Nextflow. You'll learn how to build simple multi-step workflows
              and run them from the command line, with guided hands-on exercises
              that cover workflow logic and language basics. You'll leave with
              the skills and resources to continue developing reproducible
              workflows on your own.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection
          className="flex flex-col justify-between h-full md:min-h-[350px]"
        >
          <div>
            <div class="border-b border-b-nextflow w-full">
              <h5 class="h6 mb-4">Advanced Training</h5>
            </div>

            <div class="mt-6 max-w-[150px]">
              <Laptop />
            </div>
          </div>
          <div class="mt-10">
            <p class="monospace">
              Designed for those already familiar with Nextflow basics, this
              track dives into more advanced capabilities including testing,
              handling complex inputs, and composing modular workflows for
              scalable, production-ready pipelines.
            </p>
          </div>
        </SubSection>
      </Box>
    </div> -->
  </section>

  <!-- <Box className="mb-12">
    <SubSection className="flex flex-col justify-between h-full">
      <div class="">
        <div
          class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
        >
          <h5 class="h4">Advanced Training Overview</h5>
        </div>
      </div>
      <div class="monospace h-full pb-2 pt-6 lg:mt-0">
        <p class="">
          This advanced training workshop is designed for researchers and
          developers who already have a basic understanding of Nextflow and are
          ready to deepen their skills. The course focuses on best practices for
          building production-ready pipelines, with hands-on experience in
          workflow testing, modular design, resource optimization, and complex
          input handling.
          <br /><br />

          Participants will also learn how to integrate with the <a
            href="http://nf-core"
            target="_blank">nf-core</a
          > framework and use the <a
            href="https://seqera.io/platform/"
            target="_blank">Seqera platform.</a
          > to support collaborative development and streamline deployment in real-world
          research environments.
          <br /><br />

          <ul>
            <li>
              <span class="underline">Audience</span>: Intermediate to advanced
              users with basic familiarity of Nextflow.
            </li>
            <li>
              <span class="underline"> Required</span>: Prior experience writing
              and running basic Nextflow workflows
            </li>
          </ul>

          By the end of the workshop, participants will be equipped to
          confidently design, test, and manage robust workflows that scale
          across compute environments.<br /><br />

          Additional reference materials and examples will be provided to
          support continued development beyond the course.
        </p>
      </div>
    </SubSection>
  </Box> -->
</Layout>

<!-- <div class="grid grid-cols-1 gap-8 ">
      <Box className="relative">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Getting Started with Nextflow</h5>
            </div>
            <div class=" py-4 monospace border-b border-b-nextflow">
            Day 1: AM and PM Sessions
            </div>
          </div>
          <div class="monospace h-full pb-2 pt-6 lg:mt-0">
            <p>
                Based on <a href="https://training.nextflow.io/hello_nextflow/" target="_blank">Hello Nextflow</a>, our popular intro-level tutorial for learning how to develop pipelines with Nextflow.</br></br>
                Participants will be guided through hands-on, goal-oriented exercises that will allow them to develop the following skills:<br/><br/>
                <ul>
                    <li>Use core components of the Nextflow language to construct simple multi-step workflows effectively.</li>
                    <li>Launch Nextflow workflows locally, navigate output directories to access results, interpret log outputs for insights into workflow execution, and troubleshoot basic issues that may arise during workflow execution.</li>
                </ul>
            </br>
                This tutorial is entirely domain-agnostic and does not assume any prior scientific knowledge.
            </p>
          </div>

        </SubSection>
      </Box> -->

<!-- <Box className=" 	">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Nextflow for Science</h5>
            </div>
            <div class=" py-4 monospace border-b border-b-nextflow">
                Day 2: AM Session
            </div>
          </div>
          <div class="h-full pb-2 pt-6 lg:mt-0">
            <p class=" monospace">
                Based on <a href="https://training.nextflow.io/latest/nf4_science/rnaseq/" target="_blank">Nextflow for RNAseq</a>, a step-by-step tutorial demonstrating how to develop a pipeline for processing bulk RNAseq data.</br></br>
                In this half-day session, participants will learn how to apply the concepts and mechanisms they learned on the first day to an actual scientific use case. This will enable them to make the connection between the introductory examples and how to solve real scientific analysis problems with Nextflow. </br></br>
                This tutorial assumes some basic knowledge of RNAseq data formats and tools. Pre-read materials will be provided ahead of the course, and critical information will be recapitulated at the start of the tutorial as necessary. 
            </p>
          </div>
        </SubSection>
      </Box> -->
<!-- <Box className=" 	">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Collaborative pipeline development with nf-core and Seqera Platform</h5>
            </div>
            <div class=" py-4 monospace border-b border-b-nextflow">
               Day 2: PM Session

            </div>
          </div>
          <div class="h-full pb-2 pt-6 lg:mt-0">
            <p class=" monospace">
                In this final half-day session, participants will learn to use open-source pipelines and tools from the <a href="https://nf-co.re/" target="_blank">nf-core</a> project, as well as <a href="https://seqera.io/platform/" target="_blank">Seqera platform</a> to take their pipeline development to the next level of collaboration and reproducibility within their team or organization. 
            </p>
          </div>

        </SubSection>
      </Box> -->

<Faq className="mt-20 md:mt-40 mb-20" client:load data={qa} />
