---
import Layout from "@layouts/Base.astro";
import{getAllEventPosts} from "@data/events";
import EventPost from "@components/EventPost";
import Meta from '@components/Meta/Meta.astro';
export function getStaticPaths() {
  return getAllEventPosts?.map((post) => ({
    params: { slug: post.slug.current },
    props: {post},
  }));
}

const { post } = Astro.props;

---

<Layout namespace="2026/boston">
  <Meta title="Agenda"/>
    <section class="mt-10 md:mt-20 mb-24 container smaller mx-auto">
    <EventPost post={post}   client:only="react" />
  </section>
</Layout>
