---
import Layout from '@layouts/Base.astro';
import { getAllEventPosts } from '@data/events';
import EventPost from '@components/EventPost';
import Meta from '@components/Meta/Meta.astro';
import { fetchSettings, type SettingsData } from '@data/settings';
export function getStaticPaths() {
  return getAllEventPosts?.map((post) => ({
    params: { slug: post.slug.current },
    props: { post },
  }));
}

const { post } = Astro.props;
const settings: SettingsData = await fetchSettings();
---

<Layout namespace="2026/boston">
  <Meta
    title={`${post.title} – ${post.associatedSpeakers?.map((s) => s.name).join(', ')}`}
    imgUrl={post.mainImage?.asset.url}
    settings={settings}
  />
  <section class="">
    <EventPost post={post} client:only="react" />
  </section>
</Layout>
