---
import Layout from '@layouts/Base.astro';
import Meta from '@components/Meta/Meta.astro';
import { fetchSettings, type SettingsData } from '@data/settings';
import { fetchBostonAgenda } from '@data/agenda';
import { AllSchedules } from '@components/Schedule';

const settings: SettingsData = await fetchSettings();
const agenda = await fetchBostonAgenda();
---

<Layout>
  <Meta title="Agenda" sanityImage="default" settings={settings} />
  <div class="bg-white text-black">
    <section class="py-20 bg-black text-white">
      <div class="container-xl">
        <h1 class="h3 mb-4">Agenda</h1>
        <p>Select the category to view the schedule.</p>
      </div>
    </section>

    <section>
      <AllSchedules agenda={agenda} client:load />
    </section>
  </div>
</Layout>