---
import Layout from '@layouts/Base.astro';
import Meta from '@components/Meta/Meta.astro';
import StandardPage from '@modules/StandardPage';
import { fetchBostonTravel } from '@data/fetchers';
import type { PageData } from '@data/types';
import LandingHero from '@components/LandingHero';

const travel: PageData = await fetchBostonTravel();
---

<Layout>
  <Meta title="Agenda" />
  <div class="bg-black text-white">
      <section class="py-20 bg-black text-white">
      <div class="container-lg">
        <h1 class="h3 mb-4">Agenda</h1>
        <p>
          Check back soon to view the schedule for Nextflow Summit Boston 2026.
        </p>
      </div>
    </section>
  </div>
</Layout>
