---
import Layout from "@layouts/Base.astro";
import SponsoredBy from "@modules/SponsoredBy";
import KeyInformation from "@modules/KeyInformation";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import SEO from "@components/SEO";
import Calendar from "@components/Calendar";
---

<Layout namespace="2024/boston">
  <SEO slot="head" title="Agenda" img={1} />
  <section class="pb-6 pt-16 md:pt-20">
    <div class="container island pb-10 md:pb-20 text-center">
      <h1 class="h00 mb-8">Join us in Boston</h1>
      <div class="blockquote">
        This premier event brings together leading experts, innovators, and
        researchers to showcase the latest breakthroughs in workflow management.
      </div>
    </div>
    <div class="container pb-10 md:pb-20">
      <Calendar />
    </div>
  </section>
  <KeyInformation className="pb-8 md:pb-0" />
  <ImageSection className="my-8 lg:my-20" />
  <CTASection />
  <Contact />
  <SponsoredBy client:load />
</Layout>
