---
import Layout from "@layouts/Base.astro";
import SponsoredBy from "@modules/SponsoredBy";
import KeyInformation from "@modules/KeyInformation";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import SEO from "@components/SEO";
import Calendar from "@components/Calendar";
---

<Layout namespace="2024/boston" altBG>
  <SEO slot="head" title="Schedule" img={1} />
  <section class="pb-6 pt-16 md:pt-20">
    <div class="container">
      <h1 class="h00 mb-4 text-center">Schedule</h1>
      <div class="mb-6 text-nextflow-200 text-center">
        Subscribe to calendar:
        <a
          class="text-nextflow"
          href="https://sessionize.com/api/v2/5akke6uq/view/All">iCal</a
        > |
        <a
          class="text-nextflow"
          href="https://calendar.google.com/calendar/render?cid=webcal://sessionize.com/api/v2/5akke6uq/view/All"
          >Google Calendar</a
        >
      </div>
    </div>

    <Calendar client:load />
  </section>
  <ImageSection className="my-8 lg:my-20" />
  <CTASection />
  <Contact />
  <SponsoredBy client:load />
</Layout>
