.form {
  width: 100%;
  /* margin: 0 auto; */
  max-width: 440px;
  & form {
    display: flex;
    flex-direction: column;
    & :global(.hs-form-field),
    & :global(.hs_submit) {
      flex: 1 1 auto;
      & input {
        width: 100%;
        margin-bottom: 12px;
      }
    }
    & :global(.hs_email) {
      & input {
        /* border-radius: 99px; */
        padding-left: 25px;
      }
    }
    & :global(.hs_submit) {
      & input {
        /* border-radius: 99px; */
        transition: all 0.3s;
        &:hover {
          background: var(--color-nextflow);
        }
      }
    }
    & :global(.hs_error_rollup),
    & :global(.hs-error-msgs) {
      display: none;
    }
  }
}
@media (--sm) {
  .form {
    & form {
      flex-direction: row;
      & :global(.hs_email) {
        & input {
          border-radius: 8px 0 0 8px;
          width: 350px;
          margin-bottom: 0;
        }
      }
      & :global(.hs_submit) {
        margin-left: -50px;
      }
    }
  }
}
