.form {
  width: 100%;
  /* margin: 0 auto; */
  max-width: 300px;
  & form {
    display: flex;
    flex-direction: row;
    font-family: 'PT Mono', monospace;
    & :global(.hs-form-field),
    & :global(.hs_submit) {
      flex: 1 1 auto;
      & input {
        width: 100%;
        border-radius: 0;
      }
    }
    & :global(.hs_email) {
      & input {
        border-radius: 0;
        width: 200px;
        margin-bottom: 0;
        height: 40px;
        font-size: 12px !important;
      }
    }
    & :global(.hs_submit) {
      & input {
        border-radius: 0;
        height: 40px;
        border: none;
        padding: 0 16px;
        transition: all 0.3s;
        font-size: 12px !important;
        background: var(--color-nextflow);
        &:hover {
          background: var(--color-nextflow-700);
          color: white;
        }
      }
    }
    & :global(.hs_error_rollup),
    & :global(.hs-error-msgs) {
      display: none;
    }
  }
}
@media (--sm) {
  .form {
    & form {
      flex-direction: row;
      & :global(.hs_email) {
        & input {
          border-radius: 0;
          border: none;
          width: 280px;
          margin-bottom: 0;
          height: 40px;
        }
      }
      & :global(.hs_submit) {
        margin-left: -60px;
        height: 40px;
      }
    }
  }
}
