.form {
  width: 100%;
  /* margin: 0 auto; */
  max-width: 440px;
  & form {
    display: flex;
    flex-direction: column;
    & :global(.hs-form-field),
    & :global(.hs_submit) {
      flex: 1 1 auto;
      & input {
        width: 100%;
        margin-bottom: 12px;
      }
    }
    & :global(.hs_email) {
      & input {
        padding-left: 25px;
      }
    }
    & :global(.hs_submit) {
      & input {
        border-radius: 4px;
        transition: all 0.3s;
        background: var(--color-nextflow);
        @media (--sm) {
          border-top-left-radius:0px;
          border-bottom-left-radius: 0px;
        }
        &:hover {
          background: #4256E7;
          color: white;
        }
      }
    }
    & :global(.hs_error_rollup),
    & :global(.hs-error-msgs) {
      display: none;
    }
  }
}
@media (--sm) {
  .form {
    & form {
      flex-direction: row;
      & :global(.hs_email) {
        & input {
          border-radius: 4px 0 0 4px;
          width: 350px;
          margin-bottom: 0;
        }
      }
      & :global(.hs_submit) {
        margin-left: -50px;
      }
    }
  }
}
