---
import Layout from "@layouts/Base.astro";
import { SponsoredBy } from "@components/Marquee";
import SEO from "@components/SEO";
import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import sponsors from "@data/sponsors";
import Sponsor from "@components/Sponsor";
import qa from "./qa";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Sponsors" img={1} />
  <section class="mt-20 mb-24 container">
    <h1 class="h1 mb-4 md:mb-8">Sponsors</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-cols-3 gap-8">
      {
        sponsors.boston?.map((sponsor) => (
          <Sponsor sponsor={sponsor} location="boston" />
        ))
      }
    </div>
    <Faq className="mt-40 mb-20" client:load data={qa} />
  </section>
</Layout>
