---
const { alt1, className } = Astro.props;
import img1 from "./images/1.jpg";
import img2 from "./images/2.jpg";
import { Image } from "astro:assets";
import styles from "./styles.module.css";
let images = [img1, img2];
if (alt1) {
  images = [img2, img1, img2];
}
---

<div class:list={[styles.images, alt1 && styles.alt1, className]}>
  {
    images.map((img, i) => (
      <div>
        <Image src={img} alt="" />
      </div>
    ))
  }
</div>
