.images {
  white-space: nowrap;
  width: 140vw;
  height: 40vw;
  min-height: 200px;
  max-height: 488px;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  margin-right: -20vw;
  margin-left: -5vw;
  & > div {
    border-radius: 8px;
    overflow: hidden;
    @apply mx-2 md:mx-4;
    width: 70vw;
    position: relative;
    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  @media (--md) {
    margin-right: -10vw;
    margin-left: -20vw;
  }
  &.alt1 {
    /* min-height: 190px;
    max-height: 300px; */
  }
}
