---
import Layout from "@layouts/Base.astro";
import LandingHero from "@components/LandingHero";
import KeyDates from "@components/KeyDates/index.astro";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import Faq from "@components/Faq";
import SEO from "@components/SEO";
import qa from "./qa";
---

<Layout namespace="2025/barcelona">
  <SEO slot="head" img={1} />

  <LandingHero
    title="Nextflow Summit"
    content="Key dates and registrations will open in Spring 2025—stay tuned for details!"
    ctaText1="Sign up for updates"
    ctaLink1="/2025/barcelona/register"
    when="October 27-29"
    where="Barcelona"
    price="$XXX"
    namespace="2025/barcelona"
    pathname="2025/barcelona"
  />

  <section class="pt-40 mb-24 container">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="aspect-square md:aspect-auto lg:aspect-square">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Summit</h5>
              <ArrowUpRight/>
            </div>
            <div class="py-2 monospace border-b border-b-nextflow">
              October 27 • talks, networking, and more
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <h5 class="h4 mb-4">1 day / 200+ people</h5>
            <p class=" monospace md:min-h-[140px]">
              A showcase of the latest developments and innovations from the Nextflow world.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="aspect-square md:aspect-auto lg:aspect-square">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Training</h5>
              <ArrowUpRight/>
            </div>
            <div class=" py-2 monospace border-b border-b-nextflow">
              October • training
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <h5 class="h4 mb-4"> 1.5 days / 200+ people</h5>
            <p class=" monospace md:min-h-[140px]">
              An in-person foundational training to supercharge your pipeline development with Nextflow and nf-core.
              <br /><br/>Running in parallel to the hackathon.</p>
          </div>
        </SubSection>
      </Box>
      <Box className="aspect-square md:aspect-auto lg:aspect-square">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Hackathon</h5>
              <ArrowUpRight/>
            </div>
            <div class="py-2 monospace border-b border-b-nextflow">
              October • hackathon
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <h5 class="h4 mb-4">2 days / 100+ people</h5>
            <p class=" monospace md:min-h-[140px]">
              An in-person hackathon to tackle real-world challenges, create
              innovative pipelines with Nextflow, and develop nf-core.<br /><br
              />
              Running in parallel to the training.
            </p>
          </div>
        </SubSection>
      </Box>

    </div>
  </section>
  <section class="container relative z-10 mb-4 sm:mb-8 lg:mb-20">
    <section class="container relative z-10 mb-4 sm:mb-8 lg:mb-20">
      <!-- <KeyDates location="barcelona" client:load/> -->
    </section>
  
  </section>

  <Faq className="mt-40 mb-20" client:load data={qa} />
</Layout>
