.content p + p {
  margin-top: 16px;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 48px;
  margin-bottom: 16px;
}

.content figure,
.content pre,
.content div {
  margin-top: 24px;
  margin-bottom: 24px;
}
