---
import { Image } from "astro:assets";
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero";
import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import img from "@photos/2025/boston/training.jpg";
import SEO from "@components/SEO";
import ArrowUpRight from "@icons/ArrowUpRight";
import Training from "@icons/Training";
import Exercises from "@icons/Exercises";
import Laptop from "@icons/Laptop";
import qa from "./qa";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Training | Boston" img={1} />

  <section class="">
    <Hero
    title="Training track for Nextflow Summit 2025"
    content="This training workshop is intended as a “getting started” course for students and early-career researchers who are completely new to Nextflow."
    href={img.src}
    alt="computer screen with Nextflow Training"
    ctaText1="Learn More"
    ctaLink1="#learn"
    client:load
  />
  </section>

  <section class="mt-20 mb-24 container">
    <h1 class="h4 mb-4 md:mb-8">
      By the end of the course you will be able to:
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection
          className="flex flex-col justify-between h-full md:min-h-[350px]"
        >
        <div>
        <div class="border-b border-b-nextflow w-full">
          <h5 class="h6 mb-4">Learn Core Nextflow Concepts</h5>
        </div>
          <div class="mt-6">
            <Training/>
          </div>
        </div>
          <div>
            <div class="mt-10"> 
              <p class="monospace">
                Understand the Nextflow language, essential commands, and
                structure, allowing users to build and run simple workflows
                locally.
              </p>
            </div>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection
          className="flex flex-col justify-between h-full md:min-h-[350px]"
        >
        <div>
          <div class="border-b border-b-nextflow w-full">
            <h5 class="h6 mb-4">Engage with nf-core Resources</h5>
          </div>

          <div class="mt-6 max-w-[150px]">
            <Laptop />
          </div>
        </div>
          <div class="mt-10">
            <p class="monospace">
              Discover the benefits of nf-core, including how to access,
              customize, and utilize community-built pipelines for various
              bioinformatics tasks.
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection
          className="flex flex-col justify-between h-full md:min-h-[350px]"
        >
        <div>
          <div class="border-b border-b-nextflow w-full">
            <h5 class="h6 mb-4">Hands-on Exercise</h5>
          </div>

          <div class="mt-6">
            <Exercises />
          </div>
        </div>

          <div class="mt-10">
            <p class="monospace">
              Create pipelines using the nf-core template, covering best
              practices for version control, collaboration, and troubleshooting
              common errors.
            </p>
          </div>
        </SubSection>
      </Box>
    </div>
  </section>

  <section id="learn" class="pt-10 mb-24 container smaller">
    <Box className="mb-12">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Overview</h5>
            </div>
          </div>
          <div class="monospace h-full pb-2 pt-6 lg:mt-0">
            <p class="">
                This training workshop is intended as a “getting started” course for students and early-career researchers who are completely new to Nextflow. It aims to equip participants with foundational knowledge and skills in three key areas: (1) understanding the logic of how data analysis workflows are constructed, (2) Nextflow language proficiency and (3) command-line interface (CLI) execution. <br/><br/>
                Additionally, participants will learn to leverage the resources and capabilities offered by the <a href="http://nf-core" target="_blank">nf-core</a> initiative and the <a href="https://seqera.io/platform/" target="_blank">Seqera platform.</a></br></br>
                <ul>
                <li><span class="underline">Audience</span>: Beginners (no prior Nextflow experience)</li>
                <li><span class="underline"> Required</span>: basic experience with command line and scripting
                Some bioinformatics concepts will be introduced</li>
                </ul></br>
                By the end of the workshop, participants will be well-prepared for tackling the next steps in their journey to develop and apply reproducible workflows for their scientific computing needs. Additional study-at-home materials will be provided for them to continue learning and developing their skills further.
                
            </p>
          </div>
        </SubSection>
      </Box>
    <div class="grid grid-cols-1 gap-8 ">
      <Box className="relative">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Getting Started with Nextflow</h5>
            </div>
            <div class=" py-4 monospace border-b border-b-nextflow">
            Day 1: AM and PM Sessions
            </div>
          </div>
          <div class="monospace h-full pb-2 pt-6 lg:mt-0">
            <p>
                Based on <a href="https://training.nextflow.io/hello_nextflow/" target="_blank">Hello Nextflow</a>, our popular intro-level tutorial for learning how to develop pipelines with Nextflow.</br></br>
                Participants will be guided through hands-on, goal-oriented exercises that will allow them to develop the following skills:<br/><br/>
                <ul>
                    <li>Use core components of the Nextflow language to construct simple multi-step workflows effectively.</li>
                    <li>Launch Nextflow workflows locally, navigate output directories to access results, interpret log outputs for insights into workflow execution, and troubleshoot basic issues that may arise during workflow execution.</li>
                </ul>
            </br>
                This tutorial is entirely domain-agnostic and does not assume any prior scientific knowledge.
            </p>
          </div>

        </SubSection>
      </Box>

      <Box className=" 	">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Nextflow for Science</h5>
            </div>
            <div class=" py-4 monospace border-b border-b-nextflow">
                Day 2: AM Session
            </div>
          </div>
          <div class="h-full pb-2 pt-6 lg:mt-0">
            <p class=" monospace">
                Based on <a href="https://training.nextflow.io/latest/nf4_science/rnaseq/" target="_blank">Nextflow for RNAseq</a>, a step-by-step tutorial demonstrating how to develop a pipeline for processing bulk RNAseq data.</br></br>
                In this half-day session, participants will learn how to apply the concepts and mechanisms they learned on the first day to an actual scientific use case. This will enable them to make the connection between the introductory examples and how to solve real scientific analysis problems with Nextflow. </br></br>
                This tutorial assumes some basic knowledge of RNAseq data formats and tools. Pre-read materials will be provided ahead of the course, and critical information will be recapitulated at the start of the tutorial as necessary. 
            </p>
          </div>
        </SubSection>
      </Box>
      <Box className=" 	">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center">
              <h5 class="h4">Collaborative pipeline development with nf-core and Seqera Platform</h5>
            </div>
            <div class=" py-4 monospace border-b border-b-nextflow">
               Day 2: PM Session

            </div>
          </div>
          <div class="h-full pb-2 pt-6 lg:mt-0">
            <p class=" monospace">
                In this final half-day session, participants will learn to use open-source pipelines and tools from the <a href="https://nf-co.re/" target="_blank">nf-core</a> project, as well as <a href="https://seqera.io/platform/" target="_blank">Seqera platform</a> to take their pipeline development to the next level of collaboration and reproducibility within their team or organization. 
            </p>
          </div>

        </SubSection>
      </Box>
    </div>
  </section>

  <Faq className="mt-20 md:mt-40 mb-20" client:load data={qa} />
</Layout>
