.schedule {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
}
.timeSlot {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.timelineItem {
  width: 100px;
  text-align: center;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    display: block;
    top: 34px;
    bottom: 10px;
    left: 50%;
    width: 1px;
    background: var(--color-nextflow);
    margin: 0 auto;
  }
  display: none;
  @media (--sm) {
    display: block;
  }
}
