---
import Layout from "@layouts/Base.astro";
import NoFooter from "@layouts/NoFooter.astro";
import SEO from "@components/SEO";
---

<NoFooter showNav={false} namespace="2026/boston">
  <!-- <SEO slot="head" title="Register" img={1} /> -->
  <section class="wrapper">
    <!-- swoogo form -->
    <section class="">
      <iframe
        id="swoogo-form"
        src="https://seqera.swoogo.com/summit-boston-2026"
        class="swoogo-form w-full"></iframe>
    </section>
  </section>
</NoFooter>
