---
import Layout from "@layouts/Base.astro";
import NoFooter from "@layouts/NoFooter.astro";
import SEO from "@components/SEO";

import { fetchBostonRegister} from '@data/fetchers';
import type { PageData } from '@data/types';

const register: PageData = await fetchBostonRegister();

---

<NoFooter showNav={false} namespace="2026/boston">
  <SEO slot="head" title="Registration Form" img={1} />
  <section class="wrapper">
    <!-- swoogo form -->
    <section class="relative">
      <iframe
        id="swoogo-form"
        src={register.swoogoUrl}
        class="swoogo-form w-full"></iframe>
    </section>
  </section>
  <div class="container-xl p-4 text-center text-xs fixed bottom-0 left-0 right-0 border-t border-t-black/10 bg-white">
    If you are having trouble viewing the form, please <a class="underline" href={register.swoogoUrl} target="_blank">click here</a> to open the form in a new window.
  </div>
</NoFooter>

