---
import Layout from '@layouts/Base.astro';
import Meta from '@components/Meta/Meta.astro';
---

<Layout namespace="2026/barcelona">
  <Meta title="Sponsors" />
  <section class="mt-10 md:mt-20 mb-24 container">
    <h1 class="h1 mb-4 md:mb-8">Sponsors</h1>
  </section>
</Layout>
