---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import Button from "@components/Button";
---

<Layout showHeader={false}>
  <SEO slot="head" img={0} />
  <div class="container flex justify-center items-center">
    <div class="min-h-[500px] text-center pt-20 flex flex-col justify-center items-center w-full h-full">
      <h1 class="h3 mb-4">404: Page Not Found</h1>
      <div>
        <p>The page you are looking for does not exist.</p>
        <div>
        <Button className="mt-10 relative" white arrowAfter>
            Return to Homepage
              <a class="absolute w-full h-full" href="/"></a>
         
          </Button>
        </div>
      </div>
    </div>
  </div>
</Layout>
