---
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero";
import SEO from "@components/SEO";
import Contact from "@modules/Contact";
import img1 from "@images/photos/call-for-abstracts-min.jpg";
---

<Layout showNav={false}>
  <SEO slot="head" title="Call for Abstracts" img={1} />
  <section class="wrapper">
    <div class="">
      <Hero
      title="Call for abstracts is open until February 29"
      content="Abstracts will be read and presenters notified on a rolling basis, so apply soon. The final abstracts will be accepted and presenters notified in March."
      href={img1.src}
      alt="Image of Nextflow Summit"
      ctaText1="Apply Now" />
   
    </div>
  </section>
  <Contact className="py-8" />
</Layout>
