---
import Layout from "@layouts/Base.astro";
import EventSelector from "@modules/EventSelector/index.astro";
import { CallForAbstracts } from "@components/Marquee";
import NextflowNumbers from "@modules/NextflowNumbers";
import ImageSection from "@modules/ImageSection";
import PastEvents from "@modules/PastEvents";
import Subscribe from "@modules/Subscribe";
import SEO from "@components/SEO";
import LandingHero from "@components/LandingHero";
import Faq from "@components/Faq";
import qa from "./qa";
import SignUpForm from "@modules/SignUpForm";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import imgVirtual from "@images/photos/2025/virtual.jpg";
import imgBarcelona from "@images/photos/2025/barcelona/barcelona.jpg";
import Banner from '@components/Banner'
---

<Layout showHeader={false}>
  <SEO slot="head" title="Home"/>
  <!-- <Banner title="Register to access the event recordings" ctaText="Register Now" ctaLink="https://seqera.swoogo.com/nextflow-summit-boston-2025" client:load />  -->
  <LandingHero
    isBoth
    title="Nextflow Summit"
    content=`Step into the Future of Software-Driven Science.</br></br>Nextflow Summit, presented by Seqera, brings together scientists from around the world to shape the future of biotech R&D through community-driven innovation in data science and computational biology.``
    where="both"
    ctaText2="Training & Hackathon"
    ctaLink2="/2025/barcelona/overview"
    ctaText1="Virtual Summit"
    ctaLink1="/2025/virtual/overview"
    virtual="October 23-24"
    barcelona="October 28-29"
    client:load
  />

  <section class="mt-20 mb-24">
    <div class="mt-10 mb-10 md:mt-20 md:mb-20 container smaller grid grid-cols-1 sm:grid-cols-2 gap-8">
      <Box className="box__image sm:aspect-square	relative" href="/2025/virtual/overview">
        <SubSection
          className="relative flex flex-col justify-between h-full z-10"
        >
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Nextflow Summit</h5>
              <ArrowUpRight />
            </div>
            <div class=" py-2 monospace border-b border-b-nextflow md:flex md:flex-row md:justify-between">
              <p class="pr-4">October 23-24</p>
              <p>
                Online
              </p>
            </div>
          </div>
          <div
          class="mt-6 relative imageBlend w-full h-0 pb-[40%] overflow-hidden "
        >
          <img
            class="absolute top-0 left-0 right-0 bottom-0 w-full h-full z-0 object-cover"
            src={imgVirtual.src}
            alt="Image of Person using computer"
          />
        </div>
          <div class="pt-2 mt-4 border-t border-t-nextflow">
            <p class="monospace">Registration opens in August</p>
            <p class="monospace">Price: Free</p>
          </div>
        </SubSection>
      </Box>
      <Box className="box__image sm:aspect-square	relative" href="/2025/barcelona">
        <SubSection
          className="relative flex flex-col justify-between h-full z-10"
        >
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Training & Hackathon</h5>
              <ArrowUpRight />
            </div>
            <div class=" py-2 monospace border-b border-b-nextflow md:flex md:flex-row md:justify-between">
              <p class="pr-4">October 28-29</p>
              <p>
                Barcelona
            </div>
          </div>
          <div
          class="mt-6 relative imageBlend w-full h-0 pb-[40%] overflow-hidden "
        >
          <img
            class="absolute top-0 left-0 right-0 bottom-0 w-full h-full z-0 object-cover"
            src={imgBarcelona.src}
            alt="Image of Boston cityscape"
          />
        </div>
        <div class="pt-2 mt-4 border-t border-t-nextflow">
          <p class="monospace">Registration open until August 15</p>
          <p class="monospace">Price: €90 - €225</p>
        </div>
        </SubSection>
      </Box>
    </div>

    <!-- <section id="register" class="wrapper">
      <div>
        <div class="container pt-10">
          <div class="flex flex-col sm:flex-row sm:justify-between">
            <div class="w-full pr-10 pt-10">
              <h1 class="h2 mb-10">Join us at Nextflow Summit 2025</h1>
              <p class="monospace">
                Discover the ticket prices, discount dates, and refund policy
              </p>
            </div>
            <div>
              <div class="w-full">
                <SignUpForm client:load />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <NextflowNumbers client:load className="my-20 md:my-40"/>
    <PastEvents />
    <Faq className="mt-20 md:mt-40 mb-20" client:load data={qa} />
    <section id="register" class="wrapper">
      <div>
        <div class="container pt-10">
          <div class="flex flex-col sm:flex-row sm:justify-between">
            <div class="w-full pr-10 pt-10">
              <h1 class="h1 mb-10">Sign up for updates</h1>
              <!-- <p class="monospace">
                Discover the ticket prices, discount dates, and refund policy
              </p> -->
            </div>
            <div>
              <div class="w-full">
                <SignUpForm client:load />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</Layout>
