---
import Layout from "@layouts/Base.astro";
import EventSelector from "@modules/EventSelector/index.astro";
import { CallForAbstracts } from "@components/Marquee";
import NextflowNumbers from "@modules/NextflowNumbers";
import ImageSection from "@modules/ImageSection";
import PastEvents from "@modules/PastEvents";
import Subscribe from "@modules/Subscribe";
import SEO from "@components/SEO";
---

<Layout showHeader={false}>
  <SEO slot="head" img={0} />
  <!--  <CallForAbstracts client:load className="mt-20 opacity-75" /> -->
  <EventSelector />
  <h2 class="h00 text-center mt-10 mb-16 relative z-10">
    Previous Nextflow Events
  </h2>
  <PastEvents client:load />
  <NextflowNumbers client:load className="py-20" />
  <ImageSection client:load className="mb-20" />
  <Subscribe client:visible />
</Layout>
