---
import Layout from '@layouts/Base.astro';
import SEO from '@components/SEO';
import StandardPage from "@modules/StandardPage"
import SignUpForm from '@modules/SignUpForm';



---

<Layout>
  <SEO slot="head" title="Past Events" />
  <div class="py-10">
  <SignUpForm client:load/>
  </div>
</Layout>
