---
import Layout from '@layouts/Base.astro';
import Meta from '@components/Meta/Meta.astro';
import SignUpForm from '@modules/SignUpForm';

---

<Layout>
  <Meta title="Newsletter" />
  <div class="py-10">
    <SignUpForm client:load/>
  </div>
</Layout>
