---
import Layout from "@layouts/Base.astro";
import Preregister from "@modules/Preregister2025";
import PastEvents from "@modules/PastEvents";
import Box from "@components/Box";
import SEO from "@components/SEO";
import Contact from "@modules/Contact";
import { SponsoredBy } from "@components/Marquee";
---

<Layout showNav={false}>
  <SEO slot="head" title="Pre-register 2025" img={1} />
  <section class="pb-6 pt-16 md:pt-20">
    <div class="container island text-center">
      <h2 class="h000 mb-2">
        <span class="h1 text-nextflow">Attend</span><br />Nextflow Summit<br /> 2025
      </h2>
      <Box className="mt-12 mx-auto max-w-[764px]">
        <Preregister client:load />
      </Box>

      <h1 class="h1 mt-20 mb-6">Get ready for an unforgettable experience with the Nextflow community!</h1> 
    </div>
  </section>
  <Contact className="py-8" />
</Layout>
