---
import Layout from "@layouts/Base.astro";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import SponsoredBy from "@modules/SponsoredBy";
import SEO from "@components/SEO";
import SessionCard from "@components/SessionCard";
import sessions from "@data/sessions";
---

<Layout namespace="2024/boston">
  <SEO slot="head" title="Sessions" img={1} />
  <section class="pb-16 pt-16 md:pt-20">
    <div class="container pb-10 md:pb-20 text-center">
      <h1 class="h00 mb-8">Sessions <span class="text-nextflow">2024</span></h1>
    </div>
    <div class="container">
      <div class="flex flex-wrap -m-4">
        {
          sessions.map((session) => (
            <SessionCard session={session} className="p-4" />
          ))
        }
      </div>
    </div>
  </section>

  <CTASection />
  <ImageSection alt2 className="mt-20" />
  <Contact />
  <SponsoredBy client:load />
</Layout>
