@font-face {
  font-family: "Inter";
  src: 
    url("Inter-ExtraLight.woff") format("woff"),
    url("Inter-ExtraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("Inter-Thin.woff") format("woff"),
    url("Inter-Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("Inter-Light.woff") format("woff"),
    url("Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("Inter-Regular.woff") format("woff"),
    url("Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("Inter-Medium.woff") format("woff"),
    url("Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("Inter-SemiBold.woff") format("woff"),
    url("Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: 
    url("Inter-Bold.woff") format("woff"),
    url("Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url("Inter-Black.woff") format("woff"),
    url("Inter-Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
