---
import Layout from "@layouts/Base.astro";
import LandingHero from "@components/LandingHero";
import KeyDates from "@components/KeyDates/index.astro";
import WhyAttend from "@modules/WhyAttend";
import SignUpForm from "@modules/SignUpForm";
import Box, { SubSection } from "@components/Box";
import ArrowUpRight from "@icons/ArrowUpRight";
import Faq from "@components/Faq";
import SEO from "@components/SEO";
import qa from "./qa";
import Button from "@components/Button";
---

<Layout namespace="2025/virtual">
  <SEO slot="head" title="Overview | Nextflow Summit" img={3} />

  <LandingHero
    isBarcelona
    title="Nextflow Summit"
    content="No matter your role—bioinformatician, data scientist, developer, or industry leader—Nextflow Summit by Seqera is where you’ll connect, learn, and innovate. Leave inspired, equipped, and ready to drive the future of science and technology."
    when="October 23-24"
    where="Virtual"
    namespace="2025/virtual"
    pathname="/2025/virtual"
    client:load
  />

  <section class="pt-20 md:pt-40 mb-24 container">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row items-center"
            >
              <h5 class="h5">Nextflow Summit</h5>

            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              October 27 • talks, networking & more
            </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full">
            <!-- <h5 class="h4 mb-4">1 day / 200+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              A virtual showcase of the latest developments and innovations from the
              Nextflow world.<br /><br />
              
              Full price: Free<br /><br />
              Registration opens in August.<br />
              More information coming soon.

            </p>
            <!-- <p class="text-nextflow-200 pb-2">*Early bird discounts will run from May 1 to August 30</p> -->
          </div>
          <!-- <div class="pt-4 monospace border-t border-t-nextflow">
            Registration opens in August.
          </div> -->
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row items-center"
            >
              <h5 class="h5">Call for Speakers and Posters</h5>
            </div>
            <!-- <div class="py-4 monospace border-b border-b-nextflow">
              Early-bird 25% discount until August 1
              </div> -->
          </div>
          <div class="py-4 mt-6 lg:mt-0 h-full ">
            <!-- <h5 class="h4 mb-4">1.5 days / 200+ people</h5> -->
            <p class="monospace md:min-h-[140px]">
              <span class="underline">Virtual Talk</span>: 20 minutes total including time for Q&A.<br/><br/>
              <span class="underline">Posters</span>: Present your poster at virtual Nextflow Summit or in-person at the Nextflow Training and nf-core Hackathon in Barcelona. <br/><br/>
           
              <a href="/call-for-abstracts">→ Learn more</a> 
              
            </p>
          </div>
    
          <div class="pt-4 monospace">
            <Button
              white
              arrowAfter
              className="w-full"
            >
              <a class="absolute w-full h-full" href="https://seqera.swoogo.com/nfcore-hackathon/call-for-abstracts/8033231" target="_blank"></a>

              Submit talk or poster
            </Button>
          </div>
        </SubSection>
      </Box>

    </div>
  </section>

  <section class="container relative z-10 mb-4 sm:mb-8 lg:mb-20">
    <KeyDates location="virtual" />
  </section>

  <Faq className="mt-20 md:mt-40 mb-20" client:load data={qa} />
</Layout>
