.card {
  overflow: hidden;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-nextflow);
  border-radius: 16px;
  transition: all 1s;
  background: linear-gradient(
    23deg,
    rgba(22, 15, 38, 1) 50%,
    rgba(3, 48, 40, 1) 100%
  );
  &[href]:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 255, 207, 0.2);
    & .bg {
      opacity: 1;
    }
  }
  &:not([href]) {
    cursor: default;
    background: var(--color-brand);
    border-color: var(--color-brand-800);
  }
}
.card > .bg {
  position: absolute;
  inset: 0;
  transition: opacity 0.5s !important;
  background: linear-gradient(
    23deg,
    rgba(4, 54, 44, 1) 30%,
    rgba(3, 102, 138, 1) 100%
  );
  opacity: 0;
}
.card > .content {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  height: 100%;
  width: 100%;
  padding: 16px 18px;
  @media (--md) {
    padding: 22px 32px;
  }
}
.title {
  font-family: Degular, sans-serif;
  letter-spacing: 0.4px;
  font-weight: 500;
  color: white;
  line-height: 1.3;
  font-size: 22px;
  @media (--md) {
    font-size: 28px;
  }
}
.time {
  &.hideTime {
    @media (--sm) {
      display: none;
    }
  }
}
.room {
  margin-top: 2px;
  font-family: monospace;
  font-weight: 200;
  color: var(--color-nextflow-300);
  font-size: 12px;
  @media (--md) {
    font-size: 21px;
  }
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 8px;
  margin: -8px;
  & > div {
    margin: 8px;
  }
}
.speakers {
  display: flex;
  align-items: center;
  & > span {
    display: flex;
    align-items: center;
    color: var(--color-nextflow-300);
    font-size: 18px;
    & img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
      border: 1px solid var(--color-nextflow-200);
      box-shadow: inset 0 0 0 10px var(--color-nextflow-200);
    }
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  & > span {
    margin: 4px;
    display: block;
    padding: 5px 26px 6px 26px;
    border-radius: 8px;
    color: var(--color-brand);
    background: var(--color-nextflow-300);
    border: 1px solid var(--color-nextflow-300);
    font-size: 18px;
    line-height: 1;
    font-family: "Degular", sans-serif;
    font-weight: 600;
    &.sponsor {
      border-color: var(--color-nextflow);
      background: var(--color-brand);
      color: var(--color-nextflow);
    }
  }
}
