---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import Gallery from "@components/Gallery/index.astro";

const photos = await Astro.glob("@images/photos/boston-2025/*");
---

<Layout namespace="2025/boston" altBG>
  <SEO slot="head" title="Gallery" img={1} />
  <section class="container text-center pt-10 md:pt-16">
    <h1 class="h1">Coming soon.</h1>
    <!-- <Gallery
      title="Boston Summit 2025"
      images={photos}
      ctaURL="https://photos.app.goo.gl/CXt5w4s3aTiX7nY6A"
    /> -->
  </section>
</Layout>
