.container {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: none;
  @media (--md) {
    display: flex;
  }
}
.slide1,
.slide2 {
  flex: none;
  transform: translateX(0);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  & > div,
  & > img {
    flex: 1;
  }
}
.slide2 {
  left: -100%;
}
.moving {
  transition: all 30s linear;
}
