.blob {
  min-height: 20em;
  min-width: 20em;
  max-height: 40vw;
  max-width: 40vw;
  filter: blur(10em);
  background-color: var(--color-nextflow);
  top: 20vh;
  right: -10vw;
  opacity: 0.3;
  animation: movement 25s linear infinite;
  transform: translate(0, 0);
  display: none;
  @media (--md) {
    display: block;
  }
}

@keyframes movement {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(-150px, -250px) scale(0.6);
  }
  70% {
    transform: translate(-120px, -200px) scale(0.6);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
