.blob {
  min-height: 15em;
  min-width: 15em;
  max-height: 50vw;
  max-width: 50vw;
  filter: blur(8em);
  background-color: var(--color-nextflow);
  top: 40vh;
  left: -50vw;
  opacity: 1;
  animation: movement 25s linear infinite;
  transform: translate(0, 0);
  @media (--md) {
    top: 30vh;
    left: -40vw;
    opacity: 0.6;
    min-height: 20em;
    min-width: 20em;
    max-height: 60vw;
    max-width: 60vw;
    filter: blur(10em);
  }
}

@keyframes movement {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(150px, 150px) scale(1.4);
  }
  70% {
    transform: translate(120px, 100px) scale(1.4);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
