.blob {
  min-height: 8em;
  min-width: 8em;
  max-height: 15vw;
  max-width: 15vw;
  filter: blur(6em);
  animation: movement 25s linear infinite;
  top: 65vh;
  left: 20vw;
  opacity: 0.7;
}

@keyframes movement {
  0% {
    transform: translate(0, 0) scale(1);
  }
  20% {
    transform: translate(50px, 80px) scale(1.5);
  }
  40% {
    transform: translate(250px, 70px) scale(1.1);
  }
  65% {
    transform: translate(200px, 100px) scale(1.3);
  }
  85% {
    transform: translate(110px, 90px) scale(1.1);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
