.blob {
  min-height: 30em;
  min-width: 30em;
  max-height: 45vw;
  max-width: 45vw;
  filter: blur(12em);
  opacity: 0.2;
  background-color: #fa6863;
  top: 80vh;
  right: 50px;
  animation: movement 20s linear infinite;
  transform: translate(0, 0);
}

@keyframes movement {
  0% {
    transform: translate(-50px, 250px) scale(1.5);
  }
  25% {
    transform: translate(-10px, 50px) scale(1.1);
  }
  50% {
    transform: translate(0, 0) scale(1);
  }
  75% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-50px, 250px) scale(1.5);
  }
}
