.blob {
  min-height: 20em;
  min-width: 20em;
  max-height: 20vw;
  max-width: 20vw;
  filter: blur(6em);
  background-color: #fa6863;
  top: 80vh;
  right: 50px;
  animation: movement 20s linear infinite;
  transform: translate(0, 0);
}

@keyframes movement {
  0% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-10px, 50px) scale(1.1);
  }
  50% {
    transform: translate(-50px, 250px) scale(1.5);
  }
  75% {
    transform: translate(-70px, 220px) scale(1.4);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
