.icon {
  display: inline-block;
  line-height: 1;
  & svg {
    transition: color 0.5s;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
  &:hover {
    & svg {
      color: var(--color-nextflow-200);
    }
  }
}
