.icon {
  display: inline-block;
  line-height: 1;
  & svg {
    transition: opacity 0.5s;
    width: 18px;
    height: 18px;
    object-fit: cover;
  }
  &:hover {
    & svg {
      opacity: .5;
    }
  }
}
