---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
---

<Layout namespace="2026/barcelona">
  <SEO slot="head" title="Training | Barcelona" img={2} />
    <div class="bg-black text-white">
      <section class="py-20 bg-black text-white">
      <div class="container-lg">
        <h1 class="h3 max-w-[700px] mb-6">nf-core Training</h1>
        <p class="max-w-[500px]">
          Check back soon to view information for this year's nf-core Training held in Barcelona 2026.
        </p>
      </div>
    </section>
  </div>
</Layout>
