---
import Layout from "@layouts/Base.astro";
import GlassArea from "@components/GlassArea/index.astro";
import CallForAbstracts from "@modules/CallForAbstracts";
import KeyInformation from "@modules/KeyInformation";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import SEO from "@components/SEO";
---

<Layout namespace="2024/boston">
  <SEO title="Agenda" />
  <GlassArea className="pt-20 pb-6" style2>
    <section class="container island pb-10 md:py-20 text-center">
      <h1 class="h00 mb-8">Join us in Boston</h1>
      <div class="blockquote">
        This premier event brings together leading experts, innovators, and
        researchers to showcase the latest breakthroughs in workflow management.
      </div>
    </section>
    <KeyInformation className="pt-6" />
    <ImageSection alt1 className="mt-20" />
  </GlassArea>
  <CallForAbstracts client:load className="my-20" />
  <CTASection />
  <Contact />
</Layout>
