---
import Layout from "@layouts/Base.astro";
import { CallForAbstracts } from "@components/Marquee";
import NextflowNumbers from "@modules/NextflowNumbers";
import ImageSection from "@modules/ImageSection";
import title from "@images/title_boston-1a.svg";
import Button from "@components/Button";
import KeyInformation from "@modules/KeyInformation";
import KeyDates from "@components/KeyDates";
import YouTubeVideo from "@components/YouTubeVideo";
import CTASection from "@modules/CTASection";
import SectionContact from "@modules/Contact";
import { SponsoredBy } from "@components/Marquee";
import SEO from "@components/SEO";
---

<Layout namespace="2024/boston">
  <SEO slot="head" img={1} />
  <section class="pb-6 pt-16 md:pt-20">
    <CallForAbstracts client:load className="pb-10 md:pb-20" />
    <div class="text-center container">
      <img src={title.src} class="mx-auto w-full max-w-[555px] px-10" />
      <div class="h00 mt-16 mb-8">MAY 21 - 24, 2024</div>
      <Button href="/2024/boston/register" cta2 large>Register</Button>
    </div>
    <KeyInformation className="pt-16" linkPath="/2024/boston/agenda" />
  </section>
  <section class="container relative z-10 mb-4 sm:mb-8 lg:mb-20">
    <KeyDates showTitle showImg />
  </section>
  <section class="container mb-8 lg:mb-20">
    <h2 class="h1 mb-8">Watch the talks</h2>
    <p class="mb-8">Catch up on the talks from Boston 2024 with the <a class="text-nextflow" href="https://youtube.com/playlist?list=PLPZ8WHdZGxmXuWK4X5yJyFDqNzc3GhVBz&si=1WeRs6z8gQd-JMg4">YouTube Playlist</a>
      below, or browse the <a class="text-nextflow" href="/2024/boston/agenda">Agenda</a> to view individual talks.</p>
    <YouTubeVideo id="mvhMnNl9lsQ" listId="PLPZ8WHdZGxmXuWK4X5yJyFDqNzc3GhVBz" />
  </section>
  <CTASection />
  <NextflowNumbers client:load className="py-20" />
  <ImageSection alt1 />
  <SectionContact />
  <SponsoredBy client:load />
</Layout>
