---
import Layout from "@layouts/Base.astro";
import GlassArea from "@components/GlassArea/index.astro";
import CallForAbstracts from "@modules/CallForAbstracts";
import NextflowNumbers from "@modules/NextflowNumbers";
import ImageSection from "@modules/ImageSection";
import title from "@images/title-summit-1a.svg";
import Button from "@components/Button";
import KeyInformation from "@modules/KeyInformation";
import KeyDates from "@components/KeyDates";
import CTASection from "@modules/CTASection";
import SectionContact from "@modules/Contact";
import SEO from "@components/SEO";
---

<Layout namespace="2024/boston">
  <SEO slot="head" img={1} />
  <section class="pb-6 pt-10 md:pt-20" style2>
    <CallForAbstracts client:load />
    <div class="mt-16 text-center container">
      <img src={title.src} class="mx-auto max-w-[300px] lg:max-w-none" />
      <div class="h00 mt-16 mb-8">MAY 21 - 24, 2024</div>
      <Button href="/boston/register" cta2 large>Pre-register</Button>
    </div>
    <KeyInformation className="pt-16" />
  </section>
  <section class="container relative z-10 mb-20">
    <KeyDates showTitle showImg />
  </section>
  <CTASection />
  <NextflowNumbers client:load className="py-20" />
  <ImageSection />
  <SectionContact />
</Layout>
