---
import Layout from "@layouts/Base.astro";
import ImageSection from "@modules/ImageSection";
import CTASection from "@modules/CTASection";
import Contact from "@modules/Contact";
import { SponsoredBy } from "@components/Marquee";
import Accommodation from "@modules/Accommodation";
import SEO from "@components/SEO";
import WhyAttend from "@modules/WhyAttend";
---

<Layout namespace="2024/boston">
  <SEO slot="head" title="Why attend" img={1} />
  <section class="md:pt-20 md:pb-10">
    <div class="container smaller">
      <WhyAttend
        cta={{ url: "/2024/boston/register", title: "Attend SUMMIT 2024" }}
      />
    </div>
  </section>
  <SponsoredBy client:load className="mb-10" />
  <CTASection />
  <ImageSection alt2 className="mt-20" />
  <Contact />
</Layout>
