---
import bg_1a from "./images/bg_1a.jpg";
import overlay_1a from "./images/overlay_1a.png";
import Styles from "./styles.module.css";
---

<section class={Styles.container}>
  <div>
    <slot />
  </div>
</section>
