.container {
  background-image: url("./images/bg_1a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  & .content {
    position: relative;
    z-index: 2;
    padding: 100px 0;
    background-image: url("./images/overlay_1a.png");
    background-size: 140px;
    &:before {
      position: absolute;
      height: 8px;
      width: 100%;
      display: block;
      content: "";
      bottom: 100%;
      left: 0;
      right: 0;
      background-image: url("./images/overlay_1a3.png");
      background-size: 130px;
      background-repeat: repeat-x;
      background-position: 0 bottom;
    }
    &:after {
      position: absolute;
      height: 140px;
      width: 100%;
      display: block;
      content: "";
      top: 100%;
      left: 0;
      right: 0;
      background-image: url("./images/overlay_1a2.png");
      background-size: 140px;
    }
  }
}
