---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
// import Faq from "@components/Faq";
import Box, { SubSection } from "@components/Box";
import HubspotForm from "@components/HubspotForm";
import Button from "@components/Button";
import clsx from "clsx";
import styles from "./register.module.css";
import ArrowUpRight from "@icons/ArrowUpRight";
import SignUpForm from "@modules/SignUpForm";
// import qa from "./qa";
---

<Layout showNav={false} namespace="2025/boston">
  <SEO slot="head" title="Register" img={1} />
  <section class="wrapper">
    <div class="">
      <div class={clsx(styles.hero, "container pt-10")}>
        <div class="flex flex-col sm:flex-row sm:justify-between">
          <div class="w-full pr-10 pt-10">
            <h1 class="h1 mb-10 max-w-[500px]">Join us in Boston</h1>
            <p class="monospace">
              Discover the ticket prices, discount dates, and refund policy
            </p>
            <div class="flex md:flex-row items-center">
              <Button className="mt-16 relative" white arrowAfter>
                <a
                  class="absolute w-full h-full"
                  href="https://seqera.swoogo.com/nextflow-summit-boston-2025"
                ></a>

                Register Now
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-40 mb-24 container">
    <h1 class="h1 mb-10">Tickets</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box
        externalLink={true}
       href="https://seqera.swoogo.com/nextflow-summit-boston-2025"
        className="aspect-square md:aspect-auto lg:aspect-square	relative"
      >
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Early bird 20% off</h5>
              <ArrowUpRight />
            </div>
            <div class="py-2 monospace border-b border-b-nextflow">
              February 10 - March 14
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <!-- <h5 class="h4 mb-4">2 days / 50 people</h5> -->
            <p class="monospace min-h-[140px]">
              Applicable to Summit track only
            </p>
          </div>
        </SubSection>
      </Box>

      <Box
        externalLink={true}
        className="aspect-square md:aspect-auto lg:aspect-square"
        href="https://seqera.swoogo.com/nextflow-summit-boston-2025"
      >
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Standard Pricing</h5>
              <ArrowUpRight />
            </div>
            <div class="py-2 monospace border-b border-b-nextflow">
              March 14 - April 25
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <h5 class="h4 mb-4"></h5>
            <p class="monospace min-h-[140px]"></p>
          </div>
        </SubSection>
      </Box>
      <Box

        className="aspect-square md:aspect-auto lg:aspect-square"

      >
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Cancellation period</h5>
            </div>
            <div class="py-2 monospace border-b border-b-nextflow">
              Ends April 25
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <h5 class="h4 mb-4"></h5>
            <p class="monospace min-h-[140px]"></p>
          </div>
        </SubSection>
      </Box>
    </div>
  </section>


  <!-- <Faq className="mt-40 mb-20" client:load data={qa} /> -->
</Layout>
