.container {
  position: relative;
  height: 100%;
  width: 100%;
  & img {
    width: unset !important;
    object-fit: unset !important;
    visibility: hidden !important;
    pointer-events: none !important;
    position: absolute !important;
    max-width: none !important;
    height: unset !important;
  }
}
