.container {
  display: flex;
  align-items: center;
  position: relative;
  > div {
    background: transparent;
  }
}
.overlay {
  position: absolute;
  inset: 0;
  background: var(--color-product-1000) !important;
  opacity: 0.75;
  z-index: 2;
  mix-blend-mode: hard-light;
}
