.defaultStyle {
  & p {
    @apply text-base;
    font-weight: 400;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    @apply font-display;
    font-weight: 600;
  }
  & h1 {
    @apply text-xxl md:text-4xl lg:text-5xl;
    @apply mb-4 md:mb-6 lg:mb-8;
  }
  & h2 {
    @apply text-xxl md:text-3xl lg:text-4xl;
    @apply mb-3 md:mb-4 lg:mb-5;
  }
  & h3 {
    @apply text-xxl md:text-3xl;
    @apply mb-3 md:mb-4;
  }
  & h4 {
    @apply text-xl md:text-xxl;
    @apply mb-2 md:mb-3;
  }
  & h5 {
    @apply font-semibold;
    @apply mb-2;
  }
  & h6 {
    @apply font-semibold;
    @apply mb-2;
  }
  & ul,
  & ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}
.light {
  & p {
    font-weight: 200;
  }
}
