---
import Layout from "@layouts/Base.astro";
import GlassArea from "@components/GlassArea/index.astro";
import CallForAbstracts from "@components/SectionCallForAbstracts";
import KeyInformation from "@components/SectionKeyInformation";
import Images from "@components/SectionImages";
import SectionCTA from "@components/SectionCTA";
import SectionContact from "@components/SectionContact";
import SEO from "@components/SEO";
---

<Layout namespace="boston">
  <SEO title="Agenda" />
  <GlassArea className="pt-20 pb-6" style2>
    <section class="container island pb-10 md:py-20 text-center">
      <h1 class="h00 mb-8">Join us in Boston</h1>
      <div class="blockquote">
        This premier event brings together leading experts, innovators, and
        researchers to showcase the latest breakthroughs in workflow management.
      </div>
    </section>
    <CallForAbstracts client:load />
    <Images alt1 className="mt-20" />
  </GlassArea>
  <KeyInformation className="mb-20 relative z-10" />
  <SectionCTA />
  <SectionContact />
</Layout>
