---
import { Image } from "astro:assets";
import Button from "@components/Button";
import GlassArea from "@components/GlassArea/index.astro";
import Layout from "@layouts/Base.astro";
import Marquee from "@components/SectionCallForAbstracts";
import KeyDates from "@components/KeyDates";
import talkImg from "@images/photo-talk-1a.png";
import Box, { SubSection } from "@components/Box";
import SEO from "@components/SEO";
---

<Layout namespace="boston">
  <SEO title="Call for abstracts" />
  <GlassArea style2 className="pt-20">
    <Marquee client:visible />
    <div class="container island md:mt-20">
      <h2 class="h000 mb-2">
        The call for abstracts is open until February 29, 2024
      </h2>
      <div class="blockquote mb-8">
        <p class="mt-8 mb-4">
          Abstracts will be read and presenters notified on a rolling basis, so
          apply soon. The final abstracts will be accepted and presenters
          notified in March.
        </p>
      </div>
      <Button href="/contact" white>Apply now</Button>
    </div>
    <div class="container mt-16">
      <h3 class="h5 text-center mb-6">Key Dates</h3>
      <KeyDates showImg showTitle={false} />
    </div>
  </GlassArea>
  <section class="container py-20">
    <div class="flex flex-wrap -m-2 sm:-m-4">
      <div class="w-full md:w-1/2 p-2 sm:p-4">
        <div class="relative w-full h-full rounded-lg overflow-hidden">
          <Image
            src={talkImg}
            alt="Nextflow SUMMIT talk"
            class="object-cover h-full absolute inset-0"
          />
        </div>
      </div>
      <div class="w-full md:w-1/2 p-2 sm:p-4">
        <Box className="">
          <h2 class="h2 mb-4 text-center">Talks</h2>
          <SubSection>
            <div class="font-bold mb-2">Where</div>
            In person at the Nexflow SUMMIT
          </SubSection>
          <SubSection className="my-8">
            <div class="font-bold mb-2">Formats</div>
            <ul>
              <li>Long-form (30 min)</li>
              <li>Lightning (15 min)</li>
            </ul>
          </SubSection>
          <SubSection>
            <div class="font-bold mb-2">Themes</div>
            <ul>
              <li><b>Nextflow</b> - central tool, language and plugins</li>
              <li><b>Community</b> - pipelines, applications and use cases</li>
              <li><b>Ecosystem</b> - infrastructure and environments</li>
              <li><b>Software</b> - containers and tool packaging</li>
            </ul>
          </SubSection>
          <div class="text-center">
            <Button href="/contact" white wide className="mt-12"
              >Apply now</Button
            >
          </div>
        </Box>
      </div>
    </div>
  </section>
</Layout>
