---
import Layout from "@layouts/Base.astro";
import GlassArea from "@components/GlassArea/index.astro";
import CallForAbstracts from "@components/SectionCallForAbstracts";
import Images from "@components/SectionImages/index.astro";
import SectionCTA from "@components/SectionCTA";
import SectionContact from "@components/SectionContact";
import MapEmbed from "@components/MapEmbed";
import Box from "@components/Box";
---

<Layout title="Travel" namespace="boston">
  <GlassArea className="pt-20 pb-6" style2>
    <CallForAbstracts client:load />
    <Images alt1 className="mt-20" />
    <section class="container island py-20 text-center">
      <h1 class="h00 mb-8">Join us in Boston</h1>
      <div class="blockquote">
        Boston offers a captivating fusion of historical significance and
        innovative spirit, making it a dynamic center for art and technology.
        Boston's vibrant atmosphere fosters an environment where art and
        technology coexist, offering a captivating experience for visitors
        seeking a deep appreciation for both.
      </div>
    </section>
  </GlassArea>
  <section class="container flex flex-wrap py-20">
    <div class="w-full md:w-1/3 p-2 h-[300px]">
      <div class="relative w-full h-full rounded-lg overflow-hidden">
        <MapEmbed />
      </div>
    </div>
    <div class="w-full md:w-2/3 p-2 h-[300px]">
      <Box>
        <p class="h1">Aloft Boston Seaport District</p>
        <a target="_blank" href="https://maps.app.goo.gl/S9aZawB98jRa8DEC9">
          401-403 D St, Boston, MA 02210, United States
        </a>
      </Box>
    </div>
  </section>
  <SectionCTA />
  <section>hotel closeby</section>
  <SectionContact className="py-26" />
</Layout>
