---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import SpeakersSection from "@modules/SpeakersSection";

import {getAllVirtualSpeakers} from "@data/speakers";

const sortedMembers = getAllVirtualSpeakers[0].speakers.sort((a, b) =>
  a.name.localeCompare(b.name)
);

---

<Layout namespace="2026/virtual">
  <SEO slot="head" title="Speakers" img={3} />

  <section class="py-20 bg-black text-white">
    <div class="container-lg">
      <h1 class="h3">Speakers</h1>
      <p>Check back soon for a list of this year's speakers and presenters.</p>
    </div>
  </section>

  <!-- <div class="container mt-14">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
      {
        sortedMembers.map((name, index) => (
           <div>
           <SpeakersSection 
           person={name} 
           index={index}
           location="virtual"
           client:only="react"/>
           </div>
        ))
      }

    </div>
  </div> -->

</Layout>
