---
import Layout from "@layouts/Base.astro";
import{getAllVirtualEventPosts} from "@data/events";
import Meta from '@components/Meta/Meta.astro';
import { fetchSettings, type SettingsData } from '@data/settings'; 
export function getStaticPaths() {
  return getAllVirtualEventPosts?.map((post) => ({
    params: { slug: post.slug.current },
    props: {post},
  }));
}

const { post } = Astro.props;
const settings: SettingsData = await fetchSettings();
---

<Layout namespace="2026/virtual">
    <Meta title="Agenda" sanityImage="default"   settings={settings}/>
  <!-- <section class="mt-10 md:mt-20 mb-24 container smaller mx-auto">
    <EventPost post={post}   client:only="react" />
  </section> -->
</Layout>
