.box {
  color: black;
  border: 1px solid var(--color-nextflow);
  background: var(--color-nextflow);
  transition: border-color 0.3s;
  position: relative;
  overflow: hidden;
  &[href] {
    &:hover {
      border-color: var(--color-nextflow);
    }
  }
}
