.box {
  height: 100%;
  color: black;
  border: 1px solid var(--color-nextflow);
  background: var(--color-nextflow);
  transition: border-color 0.3s;
  padding: 20px;
  position: relative;
  overflow: hidden;
  &[href] {
    &:hover {
      border-color: var(--color-nextflow);
    }
  }
}
.subsection {
  & a {
    color: var(--color-nextflow);
  }
  ul {
    list-style-type:disc;
    padding-left: 1.25rem;
    li {
      margin-bottom: 1rem;
    }
  }
}
