.box {
  height: 100%;
  color: var(--color-brand-100);
  border: 1px solid var(--color-nextflow);
  transition: border-color 0.3s;
  padding: 20px;
  & a {
    color: var(--color-nextflow);
  }
  &[href] {
    &:hover {
      border-color: var(--color-nextflow);
    }
  }
}
.subsection {
  ul {
    list-style-type: circle;
    padding-left: 1.25rem;
    li {
      margin-bottom: 1rem;
    }
  }
}
