.box {
  /* color: black;
  border: 1px solid var(--color-nextflow-400);
  background: var(--color-nextflow-600); */

  transition: border-color 0.3s;
  position: relative;
  overflow: hidden;
  /* &[href] {
    &:hover {
      border-color: var(--color-nextflow);
    }
  } */
}
