---
const { namespace } = Astro.props;
import logo from "./logo.svg";
import styles from "./styles.module.css";
import NavMobile from "./NavMobile";
import Button from "@components/Button";

function url(path) {
  if (!namespace) return path;
  return `/${namespace}${path}`;
}
---

<header
  class:list={[
    "h-[104px] container flex items-center justify-between",
    styles.header,
  ]}
>
  <a class={styles.logo} href={url("/")}>
    <img src={logo.src} />
  </a>
  <nav class="hidden lg:block">
    <ul>
      <li>
        <a href={url("/agenda")}>Agenda</a>
      </li>
      <li>
        <a href={url("/travel")}>Travel</a>
      </li>
      <li>
        <a href={url("/speakers")}>Speakers</a>
      </li>
      <li>
        <a href={url("/sponsors")}>Sponsors</a>
      </li>
      <li>
        <a href={url("/past-events")}>Past events</a>
      </li>
    </ul>
  </nav>
  <nav class="hidden lg:block">
    <ul>
      <li>
        <a href={url("/call-for-abstracts")}>Call for abstracts</a>
      </li>
      <li>
        <Button href={url("/register")} arrow white>Pre-register</Button>
      </li>
    </ul>
  </nav>
  <NavMobile client:only="react" />
</header>
