.summitLogo {
  path {
    transition: all 0.3s;
  }
  &:hover {
    g, path {
      fill: black;
    }
  }
}

.header {
  display: none;
  @media (--sm) {
    display: block;
  }
  z-index: 100;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
}
.headerTop {
  height: 48px;
  background: var(--color-nextflow-600);
  & nav {
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      & li {
        & a:global(.navItem) {
          display: block;
          padding: 6px 12px;
          margin: 0 4px;
          line-height: 1;
          font-family: "PT Mono", courier, monospace;
          font-weight: 400;
          font-size: 14px;
          white-space: nowrap;
          position: relative;
          color: black;
          transition: all 0.3s;
          &[data-active],
          &:hover {
            opacity: 80%;
            transition: all 0.25s;
            color: white;
          }
        }
      }
    }
  }
}

.navigation {
  display: none;
  @media (--sm) {
    display: block;
  }
  z-index: 100;
  position: sticky;
  left: 0;
  top: 30px;
  right: 0;
  width: 100%;
  background:  white;
  & nav {
    height: 30px;
    & ul {
      list-style: none;
      display: flex;
      align-items: center;
      & li {
        & a:global(.navItem) {
          display: block;
          padding: 0 16px;
          line-height: 30px;
          font-size: 12px;
          font-weight: 400;
          position: relative;
          color: var(--color-brand);
          &:hover {
            color: white;
          }
          &[data-active] {
            position: relative;
            color: white;
            background: black;
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              left: 0;
              background: var(--color-brand);
            }
          }
        }
      }
    }
  }
}
