---
const { redirect, namespace, showNav } = Astro.props;
import "../styles/main.css";
import "../styles/typography.css";
import "../styles/forms.css";
import "../styles/lists.css";
import "../styles/fonts/degular/main.css";
import "../styles/fonts/inter/main.css";
import Header from "./Header/index.astro";
import Background from "./Background/index.astro";
import Scripts from "./Scripts.astro";
import Footer from "./Footer";
import CookieHandler from "./CookieHandler";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <slot name="head" />
    {redirect && <meta http-equiv="refresh" content={`0;url=${redirect}`} />}
    <Scripts />
  </head>
  <body>
    <CookieHandler client:load />
    <Header namespace={namespace} showNav={showNav} />
    <Background />
    <main id="body">
      <slot />
    </main>
    <Footer />
  </body>
</html>
