---
const { title } = Astro.props;
import "../styles/global.css";
import "../styles/fonts/degular/main.css";
import "../styles/fonts/inter/main.css";
import Header from "./Header/index.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | Nextflow SUMMIT 2024</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
