---
import Layout from "@layouts/Base.astro";
import NoFooter from "@layouts/NoFooter.astro";
import SEO from "@components/SEO";

import { fetchCFA} from '@data/fetchers';
import type { PageData } from '@data/types';

const cfa: PageData = await fetchCFA();
---

<NoFooter showNav={false} namespace="2026/boston">
  <SEO slot="head" title="Call for Abstracts Form" img={1} />
  <section class="wrapper">
    <!-- swoogo form -->
    <section class="relative">
      <iframe
        id="swoogo-form"
        src={cfa.swoogoUrl}
        class="swoogo-form w-full"></iframe>
    </section>
  </section>
  <div class="container-xl p-4 text-center text-xs fixed bottom-0 left-0 right-0 border-t border-t-black/10 bg-white">
    If you are having trouble viewing the page, please <a class="underline" href={cfa.swoogoUrl} target="_blank">click here</a> to open in a new window.
  </div>
</NoFooter>
