---
import FooterLogo from "@icons/FooterLogo";
import Subscribe from "@modules/Subscribe";
import { fetchMenus } from "@data/menus";

const menus = await fetchMenus();
const currentYear = new Date().getFullYear();
---

<footer id="footer">
  <div class={`mt-16 mb-6 text-white monospace`}>
    <nav
      class="container flex flex-col md:flex-row md:justify-between sm:flex-wrap md:flex-nowrap"
    >
      <div class="w-full max-w-[500px] lg:pr-10 mb-10 md:mb-0">
        <Subscribe client:visible />
      </div>
      <nav class="w-full flex md:justify-center">
        <div
          class="sm:whitespace-nowrap grid grid-cols-2 gap-x-8 md:gap-x-0 md:flex md:flex-row"
        >
          {
            menus?.footerMenu?.map((group) => {
              return (
                <ul class="mb-16 md:mb-0 md:ml-12 lg:ml-20">
                  <p class="mb-2 border-b border-white pb-1">{group.footerTitle}</p>
                  {group.footerLinks?.map((item) => {
                    const isExternal = item.link?.isExternal;
                    const href = isExternal 
                      ? item.link?.externalUrl 
                      : item.link?.internalLink;
                    const linkProps = isExternal
                      ? { target: "_blank", rel: "noopener noreferrer" }
                      : {};

                    return (
                      <li class="leading-[30px]">
                        <a 
                          href={href}
                          {...linkProps}
                          class="transition-all duration-300 ease-in-out hover:transition-all hover:text-nextflow"
                        >
                          {item.linkTitle}
                        </a>
                      </li>
                    );
                  })}
                </ul>
              );
            })
          }
        </div>
      </nav>
    </nav>
  </div>
  <div class="px-6">
    <div class="mt-10 mb-6">
      <FooterLogo alt="Nextflow Summit Logo" className="w-full"/>
    </div>
    <div class="flex flex-row justify-between">
      <div class="monospace mb-6">{`© ${currentYear} Seqera`}</div>
    </div>
  </div>
</footer>