---
import Layout from "@layouts/Base.astro";
import Hero from "@components/Hero";
import SEO from "@components/SEO";
import Faq from "@components/Faq";
import ArrowUpRight from "@icons/ArrowUpRight";
import OpenSign from "@icons/OpenSign";
import City from "@icons/City";
import Talk from "@icons/Talk";
import Box, { SubSection } from "@components/Box";
import Button from "@components/Button";
import img1 from "@images/photos/2025/barcelona/cfa-bcn.jpg";
import qa from "./qa";
---

<Layout>
  <SEO slot="head" title="Call for Speakers and Posters" img={3} />
  <section class="">
    <Hero
      preTitle="Call for speakers and posters"
      title={``}`
      content="Submissions are now closed. Accepted speakers and posters will notified by end of August."
      href={img1.src}
      alt="Image of Nextflow Summit presenter"
      ctaText1="Sign In / Dashboard"
      ctaExternal1={true}
      ctaLink1="https://seqera.swoogo.com/nfcore-hackathon/call-for-abstracts/8033231"
      client:load
    />
  </section>

  <section id="learn" class="mt-20 mb-24 container">
    <h1 class="h1 mb-4 md:mb-8">Key Info</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection className="flex flex-col  justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Speakers</h5>
            </div>
            <div class="bodycopy py-2 monospace border-b border-b-nextflow">
              Virtual
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <p class="monospace">
              <Talk  className="my-8" />
              Virtual Talk: 20 minutes total including time for Q&A.
         
            </p>
            <!-- <Button
            white
            arrowAfter
            className="w-full mt-6"
          >
            <a class="absolute w-full h-full" href="https://seqera.swoogo.com/nfcore-hackathon/call-for-abstracts/8033231" target="_blank"></a>

            Submit a talk
          </Button> -->
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col  justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Posters</h5>
            </div>
            <div class="bodycopy py-2 monospace border-b border-b-nextflow">
              Location: Virtual & Barcelona
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <City className="my-8" />
            <p class="monospace">
              Present your poster online at Nextflow Summit, with the opportunity to also present in-person at the Nextflow Training and nf-core Hackathon in Barcelona.
            </p>
            <!-- <Button
            white
            arrowAfter
            className="w-full mt-6"
          >
            <a class="absolute w-full h-full" href="https://seqera.swoogo.com/nfcore-hackathon/call-for-abstracts/8033231" target="_blank"></a>

            Submit a poster
          </Button> -->
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Deadline</h5>
            </div>
            <div class="bodycopy py-2 monospace border-b border-b-nextflow">
              Submit your abstract by August 22
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <OpenSign  className="my-8" />
            <p class="monospace">
              Submissions are now closed. Accepted speakers and posters will notified by end of August.
            </p>
            <!-- <Button
            white
            arrowAfter
            className="w-full mt-6"
          >
            <a class="absolute w-full h-full" href="https://seqera.swoogo.com/nfcore-hackathon/call-for-abstracts/8033231" target="_blank"></a>

            Submit a Talk or Poster
          </Button> -->
          </div>
        </SubSection>
      </Box>
      <!-- <Box
        externalLink
        href="https://seqera.swoogo.com/nextflow-summit-boston-2025/call-for-abstracts"
        className="lg:aspect-square	"
      >
        <SubSection className="flex flex-col justify-between h-full">
          <div class="">
            <div
              class="pb-4 border-b border-b-nextflow w-full flex flex-row justify-between items-center"
            >
              <h5 class="h4">Apply Now</h5>
              <ArrowUpRight />
            </div>
            <div class="bodycopy py-2 monospace border-b border-b-nextflow">
              Deadline is April 18, 2025
            </div>
          </div>
          <div class="mt-6 lg:mt-0">
            <OpenSign  className="mb-12"/>
            <p class="monospace">
             Applications are now closed.</span>
            </p>
          </div>
        </SubSection>
      </Box>  -->
    </div>
  </section>

  <!-- <section id="themes" class="mt-10 mb-20 container">
    <h1 class="h1 mb-4 md:mb-8">Themes</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-cols-3 gap-8">
      <Box className="">
        <SubSection className="flex flex-col justify-betweenh-full]">
          <div class="border-b border-b-nextflow w-full mb-4">
            <h6 class="h5 mb-4">1. Enabling science</h6>
          </div>
          <div class="mt-4 flex flex-col justify-between">
            <p class=" monospace mb-2 min-h-[80px]">
              How is data technology helping researchers make discoveries?
            </p>
            <ul class="bodycopy monospace">
              <li>
                Computational wizardry that allows researchers to try out ideas
                that would have been impossible or too time-consuming before.
              </li>
              <li>
                Clever algorithms that break through computational bottlenecks.
              </li>
              <li>
                Interfaces that enable even wet lab scientists to use powerful
                computational tools.
              </li>
            </ul>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="border-b border-b-nextflow w-full mb-4">
            <h5 class="h5 mb-4">2. Big Nextflow</h5>
          </div>
          <div class="mt-4 flex flex-col justify-between h-full">
            <p class=" monospace mb-2 h-full min-h-[80px]">
              How are data engineers solving implementation challenges and
              overcoming scaling problems?
            </p>

            <ul class="bodycopy monospace h-full">
              <li>
                Building pipelines and systems that are robust and
                fault-tolerant.
              </li>
              <li>What scalability means in different contexts.</li>
              <li>Designing for growth.</li>
              <li>Lessons learned from horror stories.</li>
            </ul>
          </div>
        </SubSection>
      </Box>
      <Box className="">
        <SubSection className="flex flex-col justify-between h-full">
          <div class="border-b border-b-nextflow w-full mb-4">
            <h5 class="h5 mb-4">3. Organizational Impact</h5>
          </div>
          <div class="mt-4 flex flex-col justify-between h-full">
            <p class=" monospace mb-2 h-full min-h-[80px]">
              How are data technologies and platforms empowering organizations?
            </p>
            <ul class="bodycopy monospace">
              <li>Integration with business and R&D workflows.</li>
              <li>
                Processes and tooling that enhance observability,
                reproducibility, and collaboration.
              </li>
            </ul>
          </div>
        </SubSection>
      </Box>
    </div>
  </section> -->

  <Faq className="mt-20 mb-20" data={qa} client:load />
</Layout>
