.dropdown {
  position: relative;
}
.dropdown > a::after {
  content: ' ';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #10c09d;
  margin-left: 5px;
  position: relative;
  bottom: 2px;
}
.dropdown:hover a::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: none;
  border-bottom: 5px solid #10c09d;
}
.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 10px;
}
.dropdownContent a {
  background: #282828;
  display: block;
  padding: 10px 15px;
  color: white;
  border: none;
}
.dropdownContent a:hover {
  background: #10c09d;
}
.dropdownContent a.active {
  color: #10c09d;
}
.dropdownContent a.active:hover {
  color: white;
}
.dropdown:hover .dropdownContent {
  display: block;
}
