---
import Layout from "@layouts/Base.astro";
import SEO from "@components/SEO";
import PostersSection from "@modules/PostersSection";
import Hero from "@components/Hero";
---

<Layout namespace="2025/boston">
  <SEO slot="head" title="Speakers" img={1} />

  <section class="py-8">
    <Hero
    title="Posters"
    content=" Explore posters from the community and learn about their work. Posters will be presented during lightning rounds during the event. "

    ctaExternal1
    client:load
  />
 </section>

  <PostersSection client:load/>

</Layout>
